03_agentic_ai/_PRJ_orchestrazione_agenti_servizi_digitali/PRJ_orchestrazione_agenti_servizi_digitali.json
{
  "name": "DigitServe - Orchestrazione Agenti Servizi Digitali",
  "nodes": [
    {
      "parameters": {
        "content": "## DigitServe S.r.l. - Orchestrazione Agenti AI per Servizi Digitali\n### Modulo 03 - Agentic AI\n\n**Autore:** Simone La Porta · **Data:** 2026-05-09 · **Runtime:** Ollama (default) o OpenAI\n\n---\n\n### Obiettivo\nSistema multi-agente che riceve richieste interne dai canali aziendali (form, email, chat), le interpreta semanticamente, decide il piano operativo e attiva gli agenti esecutivi (ticketing, CRM, notifiche, reportistica) in modo automatico oppure con approvazione umana sui casi sensibili.\n\n### Architettura\n```\nCanali interni → Webhook\n   │\n   ├─ [0] Configurazione provider LLM (ollama | openai)\n   ├─ [1] Agente di Interpretazione (LLM → JSON strutturato)\n   ├─ [2] Agente Decisionale (regole + scoring deterministico)\n   ├─ [3] Gate approvazione umana (urgenza critica | key-account + sensibile)\n   ├─ [4] Agenti esecutivi paralleli (ticket, CRM, notifica, report, analisi)\n   └─ [5] Aggregazione esiti + Audit log + Risposta sincrona\n```\n\n### Scelte di design\n- **Doppio provider LLM** selezionabile per richiesta (`provider` nel payload). Ollama default per privacy e zero esfiltrazione; OpenAI per qualità di estrazione superiore su input ambigui.\n- **HTTP Request diretto** verso Ollama/OpenAI invece dei nodi `@n8n/n8n-nodes-langchain` per portabilità.\n- **Decisionale a regole**, non LLM: ispezionabile, riproducibile, costo zero. L'LLM è confinato al solo step di interpretazione.\n- **Esecuzione parallela** degli executor via Switch + branch indipendenti.\n- **Workflow autocontenuto**: gli executor sono Code nodes con simulazione interna (TKT-, EVT-, NTF-, RPT-, AUD-). Per produzione: sostituire con HTTP Request verso i sistemi reali, l'`esito_azione` resta invariato.\n- **Audit strutturato** con `correlation_id` propagato in ogni step.",
        "height": 616,
        "width": 1088,
        "color": 5
      },
      "id": "22dbc9c4-71b7-49ec-86aa-a1066897c60c",
      "name": "Sticky - Header progetto",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14384,
        4048
      ]
    },
    {
      "parameters": {
        "content": "### Stage 0 - Ingestion\nWebhook POST `/digitserve-richiesta`. Payload:\n```\n{\n  \"canale\": \"form|email|chat\",\n  \"mittente\": {\"nome\", \"ruolo\", \"email\"},\n  \"testo\": str,\n  \"provider\": \"ollama\"|\"openai\" (opzionale, default ollama),\n  \"modello_llm\": str (opzionale, default per provider)\n}\n```\nNormalizzazione genera `correlation_id` (id esecuzione + ms) usato come chiave di riconciliazione su tutto il flusso.",
        "height": 220,
        "width": 652,
        "color": 6
      },
      "id": "14b642e7-a829-443f-bb14-6e14caeba525",
      "name": "Sticky - Stage 0",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15536,
        4288
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "digitserve-richiesta",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "7fd35abf-a8bd-46dd-be27-527b7b7a40a2",
      "name": "Webhook - Richiesta interna",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        15568,
        4624
      ],
      "webhookId": "digitserve-richiesta-001",
      "notes": "Trigger HTTP per richieste dai canali interni. Esposto come `POST /digitserve-richiesta`.\n\nPayload atteso:\n{\n  \"canale\": \"form|email|chat\",\n  \"mittente\": {\"nome\": str, \"ruolo\": str, \"email\": str},\n  \"testo\": str,\n  \"allegati\": [str] (opzionale),\n  \"timestamp\": ISO-8601 (opzionale, fallback a ora server),\n  \"provider\": \"ollama\" | \"openai\"  (opzionale, default ollama)\n}\n\nresponseMode='responseNode' perché la risposta sincrona viene costruita dal nodo finale 'Respond to Webhook' dopo l'aggregazione degli esiti."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "correlation_id",
              "value": "={{ $jmespath($json, 'body.correlation_id') || $execution.id + '-' + $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "canale",
              "value": "={{ $json.body.canale || 'sconosciuto' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "mittente",
              "value": "={{ $json.body.mittente || {} }}",
              "type": "object"
            },
            {
              "id": "a4",
              "name": "testo",
              "value": "={{ ($json.body.testo || '').trim() }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "allegati",
              "value": "={{ $json.body.allegati || [] }}",
              "type": "array"
            },
            {
              "id": "a6",
              "name": "ricevuta_at",
              "value": "={{ $json.body.timestamp || $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "741739f1-0fd9-4b20-9df8-2fce7b938e72",
      "name": "Normalizza Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15776,
        4624
      ],
      "notes": "Normalizza la struttura del payload prescindendo dal canale di origine. Genera un correlation_id deterministico (id esecuzione + ms) quando il chiamante non lo fornisce: utile per riconciliare audit, ticket e notifiche.\nIl `trim()` sul testo evita che spazi in coda alterino l'embedding o il prompt LLM."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "provider",
              "value": "={{ ['ollama','openai'].includes(($('Webhook - Richiesta interna').first().json.body.provider || '').toLowerCase()) ? ($('Webhook - Richiesta interna').first().json.body.provider).toLowerCase() : 'ollama' }}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "modello_llm",
              "value": "={{ $('Webhook - Richiesta interna').first().json.body.modello_llm || ( ($('Webhook - Richiesta interna').first().json.body.provider || 'ollama').toLowerCase() === 'openai' ? 'gpt-4o-mini' : 'llama3.2' ) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3d1e9e46-7833-4ed4-8104-273446334c33",
      "name": "Configura Provider LLM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16000,
        4624
      ],
      "notes": "Punto unico di configurazione del provider LLM.\n\nLogica:\n- Se il chiamante passa `provider` in payload è il valore è fra {ollama, openai}, lo si usa.\n- Altrimenti default a `ollama` (privacy-first).\n- `modello_llm` può essere sovrascritto dal payload, altrimenti usa il default per provider:\n    ollama → llama3.2\n    openai → gpt-4o-mini\n\nLa scelta del default su Ollama riflette il principio di minimizzazione: i dati restano in casa salvo richiesta esplicita."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-ollama",
                    "leftValue": "={{ $json.provider }}",
                    "rightValue": "ollama",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ollama"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-openai",
                    "leftValue": "={{ $json.provider }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "openai"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "fallback"
        }
      },
      "id": "a303fc7f-810e-407a-96ad-421d2ae46061",
      "name": "Switch - Provider LLM",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        16224,
        4624
      ],
      "notes": "Routing su due output distinti (ollama, openai) è un fallback (extra) per sicurezza. Mantenere due branch separati invece di un unico nodo HTTP parametrizzato facilità: la lettura del workflow nel canvas, l'uso di credentials diverse, è la possibilità di applicare retry/timeout differenti per provider."
    },
    {
      "parameters": {
        "content": "### Stage 1 - Interpretazione (LLM)\nUnico componente probabilistico, isolato a uno stage. Schema JSON forzato (`format=json` su Ollama, `response_format={type:'json_object'}` su OpenAI) per garantire output parsabile.\n\n**Branch Ollama** (default): llama3.2 in locale, zero esfiltrazione.\n**Branch OpenAI**: gpt-4o-mini, dati transitano sul provider.\n\nParser difensivo a valle: su `parse_ok=false` applica fallback conservativo (urgenza alta, ticket di revisione manuale) invece di fallire.",
        "height": 224,
        "width": 560,
        "color": 6
      },
      "id": "667de38e-56c8-452f-8b11-02cbb128cefa",
      "name": "Sticky - Stage 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16240,
        4288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.modello_llm, format: \"json\", stream: false, options: { temperature: 0.1, num_ctx: 4096 }, prompt: \"Sei l'agente di interpretazione del sistema interno di DigitServe S.r.l., un'azienda italiana di servizi digitali B2B. Analizza la richiesta arrivata dal canale '\" + $json.canale + \"' e produci ESCLUSIVAMENTE un JSON con questo schema:\\n\\n{\\n  \\\"intento\\\": uno fra [\\\"analisi_anomalia\\\", \\\"apertura_ticket\\\", \\\"aggiornamento_crm\\\", \\\"notifica_team\\\", \\\"richiesta_report\\\", \\\"escalation\\\", \\\"altro\\\"],\\n  \\\"cliente\\\": {\\\"nome\\\": stringa | null, \\\"id_cliente\\\": stringa | null},\\n  \\\"servizio\\\": uno fra [\\\"campagna_pubblicitaria\\\", \\\"supporto_tecnico\\\", \\\"integrazione_sistemi\\\", \\\"formazione\\\", \\\"altro\\\"] | null,\\n  \\\"urgenza\\\": uno fra [\\\"bassa\\\", \\\"media\\\", \\\"alta\\\", \\\"critica\\\"],\\n  \\\"azioni_richieste\\\": lista non vuota fra [\\\"analisi\\\", \\\"ticket\\\", \\\"aggiornamento_crm\\\", \\\"notifica_marketing\\\", \\\"notifica_tecnico\\\", \\\"report\\\"],\\n  \\\"sentiment\\\": uno fra [\\\"neutro\\\", \\\"frustrato\\\", \\\"preoccupato\\\", \\\"soddisfatto\\\"],\\n  \\\"motivazione_urgenza\\\": stringa breve,\\n  \\\"contesto\\\": stringa breve (max 280 caratteri)\\n}\\n\\nRegole:\\n- Non aggiungere testo fuori dal JSON.\\n- Se un campo non è desumibile dalla richiesta, usa null o una lista vuota.\\n- L'urgenza 'critica' va riservata a impatto su clienti chiave, blocchi di servizio o anomalie con perdita economica visibile.\\n\\nRichiesta da interpretare:\\n\" + $json.testo }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "d9225ac8-2064-412f-853d-353bfadfd8b8",
      "name": "LLM Interprete (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16464,
        4560
      ],
      "notes": "Branch Ollama. Chiamata diretta all'API locale `localhost:11434/api/generate` con `format=json` per forzare output JSON.\n\nTimeout 60s: llama3.2 su CPU consumer può impiegare fra 5 e 30s per output di ~300 token. In produzione conviene allargare la finestra e/o introdurre un retry su errori transitori (gestibile dalle Settings del nodo).\n\nResponse shape attesa: `{ response: '<JSON-string>', total_duration: ns, ... }`."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.modello_llm, response_format: { type: \"json_object\" }, temperature: 0.1, messages: [ { role: \"system\", content: \"Sei l'agente di interpretazione del sistema interno di DigitServe S.r.l., un'azienda italiana di servizi digitali B2B. Restituisci ESCLUSIVAMENTE un JSON valido che rispetti lo schema indicato dall'utente. Non aggiungere testo fuori dal JSON.\" }, { role: \"user\", content: \"Schema richiesto:\\n{\\n  \\\"intento\\\": uno fra [\\\"analisi_anomalia\\\", \\\"apertura_ticket\\\", \\\"aggiornamento_crm\\\", \\\"notifica_team\\\", \\\"richiesta_report\\\", \\\"escalation\\\", \\\"altro\\\"],\\n  \\\"cliente\\\": {\\\"nome\\\": stringa | null, \\\"id_cliente\\\": stringa | null},\\n  \\\"servizio\\\": uno fra [\\\"campagna_pubblicitaria\\\", \\\"supporto_tecnico\\\", \\\"integrazione_sistemi\\\", \\\"formazione\\\", \\\"altro\\\"] | null,\\n  \\\"urgenza\\\": uno fra [\\\"bassa\\\", \\\"media\\\", \\\"alta\\\", \\\"critica\\\"],\\n  \\\"azioni_richieste\\\": lista non vuota fra [\\\"analisi\\\", \\\"ticket\\\", \\\"aggiornamento_crm\\\", \\\"notifica_marketing\\\", \\\"notifica_tecnico\\\", \\\"report\\\"],\\n  \\\"sentiment\\\": uno fra [\\\"neutro\\\", \\\"frustrato\\\", \\\"preoccupato\\\", \\\"soddisfatto\\\"],\\n  \\\"motivazione_urgenza\\\": stringa breve,\\n  \\\"contesto\\\": stringa breve (max 280 caratteri)\\n}\\n\\nL'urgenza 'critica' va riservata a impatto su clienti chiave, blocchi di servizio o anomalie con perdita economica visibile.\\n\\nCanale di origine: \" + $json.canale + \"\\nRichiesta da interpretare:\\n\" + $json.testo } ] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "cec86c4e-6203-43e7-84c8-36f757a772b3",
      "name": "LLM Interprete (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16464,
        4784
      ],
      "notes": "Branch OpenAI. Chiamata a Chat Completions con `response_format={type:'json_object'}`, modalita JSON-mode che garantisce output JSON ben formato senza testo a corollario.\n\nCredenziale richiesta: tipo `httpHeaderAuth` con header `Authorization` e valore `Bearer {{OPENAI_API_KEY}}`. La chiave NON va inserita nel workflow JSON: viene letta dalla credential di n8n al runtime, in linea con le best practice di gestione segreti.\n\nResponse shape attesa: `{ choices: [{ message: { content: '<JSON-string>' } }], usage: {...} }`."
    },
    {
      "parameters": {
        "jsCode": "// Estrae e valida l'output dell'LLM, gestendo entrambe le shape\n// (Ollama vs OpenAI). Tre comportamenti chiave:\n//\n// 1. Disambiguazione provider: la presenza di `response.choices` indica\n//    OpenAI; la presenza di `response.response` indica Ollama. Si fallback\n//    a varie altre shape conosciute per robustezza.\n// 2. Parse difensivo: se l'LLM restituisce qualcosa di non parsabile, la\n//    richiesta viene comunque processata con un fallback conservativo\n//    (urgenza 'alta', solo ticket) anziche fallire l'esecuzione.\n// 3. Sanitizzazione: clamp dei valori enum su quelli ammessi,\n//    normalizzazione delle azioni in array non vuoto.\n\nconst input = $input.first().json;\n\n// Riconoscimento provider e estrazione del testo grezzo\nlet raw = null;\nlet provider_usato = 'sconosciuto';\nlet usage_info = null;\nlet latenza_ms = null;\n\nif (input.choices && Array.isArray(input.choices) && input.choices.length > 0) {\n  // Shape OpenAI Chat Completions\n  raw = input.choices[0]?.message?.content;\n  provider_usato = 'openai';\n  usage_info = input.usage || null;\n} else if (typeof input.response === 'string') {\n  // Shape Ollama /api/generate\n  raw = input.response;\n  provider_usato = 'ollama';\n  if (input.total_duration) {\n    latenza_ms = Math.round(input.total_duration / 1e6);\n  }\n} else if (input.body?.response) {\n  raw = input.body.response;\n  provider_usato = 'ollama';\n} else if (input.message?.content) {\n  raw = input.message.content;\n  provider_usato = 'ollama-chat';\n} else {\n  raw = input.data?.response || input.data?.choices?.[0]?.message?.content || null;\n}\n\nlet interpretazione;\nlet parse_ok = true;\nlet parse_error = null;\n\ntry {\n  if (raw == null) throw new Error('output LLM vuoto o shape non riconosciuta');\n  interpretazione = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  if (!interpretazione || typeof interpretazione !== 'object') {\n    throw new Error('output non è un oggetto JSON');\n  }\n} catch (err) {\n  parse_ok = false;\n  parse_error = err.message;\n  interpretazione = {\n    intento: 'altro',\n    cliente: { nome: null, id_cliente: null },\n    servizio: null,\n    urgenza: 'alta',\n    azioni_richieste: ['ticket'],\n    sentiment: 'neutro',\n    motivazione_urgenza: 'fallback: parsing LLM fallito, escalation a revisione manuale',\n    contesto: 'Richiesta da interpretare manualmente.'\n  };\n}\n\n// Validazione difensiva sui campi critici\nconst urgenze_ammesse = ['bassa', 'media', 'alta', 'critica'];\nif (!urgenze_ammesse.includes(interpretazione.urgenza)) {\n  interpretazione.urgenza = 'media';\n}\nif (!Array.isArray(interpretazione.azioni_richieste) || interpretazione.azioni_richieste.length === 0) {\n  interpretazione.azioni_richieste = ['ticket'];\n}\n\n// Recupero dati di contesto dalla richiesta originale e dal config provider\nconst contesto_richiesta = $('Normalizza Input').first().json;\nconst config = $('Configura Provider LLM').first().json;\n\nreturn [{\n  json: {\n    correlation_id: contesto_richiesta.correlation_id,\n    canale: contesto_richiesta.canale,\n    mittente: contesto_richiesta.mittente,\n    testo_originale: contesto_richiesta.testo,\n    ricevuta_at: contesto_richiesta.ricevuta_at,\n    interpretazione,\n    interpretazione_meta: {\n      parse_ok,\n      parse_error,\n      provider_richiesto: config.provider,\n      provider_usato,\n      modello: config.modello_llm,\n      latenza_ms,\n      tokens: usage_info\n    }\n  }\n}];"
      },
      "id": "b4aeaf8e-984d-42d3-9a0e-1eeeaca32da0",
      "name": "Parse Interpretazione",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16704,
        4624
      ],
      "notes": "Validazione e fallback sull'output dell'LLM, agnostico rispetto al provider.\n\nComportamenti:\n1. Disambiguazione automatica fra shape Ollama (`response`) e OpenAI (`choices[0].message.content`).\n2. Parse difensivo: se l'LLM restituisce qualcosa di non parsabile, la richiesta viene comunque processata con un fallback conservativo (urgenza 'alta', solo ticket) anziche fallire l'esecuzione.\n3. Sanitizzazione: clamp dei valori enum su quelli ammessi, normalizzazione delle azioni in array non vuoto.\n4. Riassemblaggio del payload: porta avanti correlation_id, mittente, testo originale e meta dell'interpretazione (provider, modello, latenza, token usage, esito parse) per audit a valle."
    },
    {
      "parameters": {
        "content": "### Stage 2 - Decisionale\nMappatura `interpretazione -> piano operativo` deterministica via Code node.\n\n**Scoring priorità (0-100):**\n- urgenza: bassa=10, media=30, alta=60, critica=90\n- sentiment: frustrato/preoccupato +10, soddisfatto -5\n- servizio: campagna_pubblicitaria +5, supporto_tecnico +10\n\n**Flag `richiede_approvazione`** triggerato da:\n- urgenza critica, OR\n- intent escalation, OR\n- cliente in whitelist `CLIENTI_CHIAVE` + azione sensibile (es. notifica_marketing)\n\nWhitelist hardcoded (ACME, EnerNova, BancaItalsud, Pharmacare). In produzione: lookup CRM.",
        "height": 356,
        "width": 460,
        "color": 6
      },
      "id": "31563f5c-653b-47d5-b14b-799c0d51055b",
      "name": "Sticky - Stage 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16832,
        4160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Agente decisionale deterministico.\n// Trasforma l'interpretazione semantica in un piano operativo composto da\n// azioni discrete, ognuna con parametri, priorità e flag di approvazione.\n//\n// Lo scoring di priorità combina:\n//   - urgenza:     bassa=10, media=30, alta=60, critica=90\n//   - sentiment:   frustrato/preoccupato +10, soddisfatto -5\n//   - servizio:    campagna_pubblicitaria +5, supporto_tecnico +10\n// Il punteggio finale guida l'ordinamento delle azioni se eseguite\n// sequenzialmente; in modalita parallela serve come metadato per i log.\n//\n// L'approvazione umana scatta quando ALMENO una delle condizioni è vera:\n//   - urgenza == 'critica'\n//   - intento in {escalation, aggiornamento_crm} su clienti chiave\n//   - notifica_marketing su clienti enterprise (rischio reputazionale)\n// La definizione di 'cliente chiave' è qui hardcoded a una whitelist;\n// in produzione sarebbe una lookup contro il CRM.\n\nconst dati = $input.first().json;\nconst interp = dati.interpretazione;\n\nconst PUNTI_URGENZA = { bassa: 10, media: 30, alta: 60, critica: 90 };\nconst SENTIMENT_DELTA = { frustrato: 10, preoccupato: 10, soddisfatto: -5, neutro: 0 };\nconst SERVIZIO_DELTA = {\n  campagna_pubblicitaria: 5,\n  supporto_tecnico: 10,\n  integrazione_sistemi: 5,\n  formazione: 0,\n  altro: 0\n};\n\nconst CLIENTI_CHIAVE = ['ACME', 'EnerNova', 'BancaItalsud', 'Pharmacare'];\n\nconst punteggio = (PUNTI_URGENZA[interp.urgenza] || 30)\n  + (SENTIMENT_DELTA[interp.sentiment] || 0)\n  + (SERVIZIO_DELTA[interp.servizio] || 0);\n\nconst nome_cliente = interp.cliente?.nome || '';\nconst e_cliente_chiave = CLIENTI_CHIAVE.some(c => nome_cliente.toUpperCase().includes(c.toUpperCase()));\n\nconst azioni_sensibili = ['notifica_marketing'];\nconst tocca_sensibile = interp.azioni_richieste.some(a => azioni_sensibili.includes(a));\n\nconst richiede_approvazione = (\n  interp.urgenza === 'critica'\n  || interp.intento === 'escalation'\n  || (e_cliente_chiave && tocca_sensibile)\n);\n\n// Costruzione del piano: una entry per azione, con parametri tipizzati.\nconst piano = [];\n\nfor (const azione of interp.azioni_richieste) {\n  switch (azione) {\n    case 'analisi':\n      piano.push({\n        tipo: 'analisi',\n        target: 'team_data',\n        params: { servizio: interp.servizio, contesto: interp.contesto },\n        priorità: punteggio\n      });\n      break;\n    case 'ticket':\n      piano.push({\n        tipo: 'ticket',\n        target: 'sistema_ticketing',\n        params: {\n          titolo: `${interp.intento.replace(/_/g, ' ')} - ${nome_cliente || 'cliente non specificato'}`,\n          descrizione: dati.testo_originale,\n          cliente: interp.cliente,\n          servizio: interp.servizio,\n          urgenza: interp.urgenza,\n          motivazione: interp.motivazione_urgenza\n        },\n        priorità: punteggio\n      });\n      break;\n    case 'aggiornamento_crm':\n      piano.push({\n        tipo: 'crm',\n        target: 'crm_clienti',\n        params: {\n          cliente: interp.cliente,\n          evento: interp.intento,\n          note: interp.contesto,\n          canale_origine: dati.canale\n        },\n        priorità: punteggio\n      });\n      break;\n    case 'notifica_marketing':\n      piano.push({\n        tipo: 'notifica',\n        target: 'team_marketing',\n        params: {\n          cliente: interp.cliente,\n          oggetto: `[${interp.urgenza.toUpperCase()}] Anomalia segnalata - ${nome_cliente}`,\n          messaggio: interp.contesto\n        },\n        priorità: punteggio\n      });\n      break;\n    case 'notifica_tecnico':\n      piano.push({\n        tipo: 'notifica',\n        target: 'team_tecnico',\n        params: {\n          cliente: interp.cliente,\n          oggetto: `[${interp.urgenza.toUpperCase()}] Intervento tecnico richiesto`,\n          messaggio: interp.contesto\n        },\n        priorità: punteggio\n      });\n      break;\n    case 'report':\n      piano.push({\n        tipo: 'report',\n        target: 'reportistica',\n        params: { cliente: interp.cliente, servizio: interp.servizio },\n        priorità: punteggio\n      });\n      break;\n    default:\n      // Azioni non riconosciute confluiscono in un ticket generico\n      piano.push({\n        tipo: 'ticket',\n        target: 'sistema_ticketing',\n        params: {\n          titolo: 'Richiesta non classificata',\n          descrizione: dati.testo_originale,\n          urgenza: 'media'\n        },\n        priorità: 30\n      });\n  }\n}\n\n// Ordinamento per priorità decrescente: utile per la presentazione e per\n// l'esecuzione sequenziale fallback se una branch parallela non è disponibile.\npiano.sort((a, b) => b.priorità - a.priorità);\n\nreturn [{\n  json: {\n    ...dati,\n    decisione: {\n      piano,\n      richiede_approvazione,\n      punteggio_priorità: punteggio,\n      cliente_chiave: e_cliente_chiave,\n      generato_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "b47d25a7-4c7e-40c8-9cbe-d8e596305b20",
      "name": "Agente Decisionale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16944,
        4624
      ],
      "notes": "Strategia deterministica: ogni interpretazione viene mappata in un piano composto da azioni discrete (ticket, crm, notifica, report, analisi). Il punteggio di priorità combina urgenza, sentiment e tipo di servizio.\nLa whitelist dei clienti chiave è qui hardcoded a fini didattici; il pattern enterprise sarebbe una lookup contro il CRM al volo o una tabella mantenuta fuori dal workflow."
    },
    {
      "parameters": {
        "content": "### Stage 3 - Gate approvazione\nPattern Send-and-Wait di n8n via Gmail. Email all'owner di processo con riepilogo del piano e due bottoni (Approvo / Rifiuto). Workflow in pausa fino al click.\n\nSu rifiuto: salto all'audit + risposta `nessuna_azione`. Su approvazione: prosegue all'esecuzione.\n\n**Tradeoff**: introduce latenza umana sui casi sensibili. Regola di gating da rivedere ciclicamente in base a falsi positivi vs mancate escalation.",
        "height": 224,
        "width": 508,
        "color": 6
      },
      "id": "068af204-f21f-483e-a33b-a9d76af590ec",
      "name": "Sticky - Stage 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        17328,
        4208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-approval",
              "leftValue": "={{ $json.decisione.richiede_approvazione }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e090d47-5732-4de4-8532-a40b9f151036",
      "name": "IF - Richiede Approvazione?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        17184,
        4624
      ],
      "notes": "Branching booleano sul flag emesso dall'agente decisionale.\nTrue → percorso di approvazione umana via email Send-and-Wait.\nFalse → esecuzione automatica."
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "operations@digitserve.it",
        "subject": "=[Approvazione richiesta] {{ $json.interpretazione.intento }} - cliente {{ $json.interpretazione.cliente.nome || 'n/d' }}",
        "message": "=Una richiesta interna proveniente dal canale '{{ $json.canale }}' richiede approvazione prima dell'esecuzione automatica.\n\nMittente: {{ $json.mittente.nome }} ({{ $json.mittente.email }})\nUrgenza: {{ $json.interpretazione.urgenza.toUpperCase() }}\nMotivazione: {{ $json.interpretazione.motivazione_urgenza }}\nPunteggio priorità: {{ $json.decisione.punteggio_priorità }}/100\nCliente chiave: {{ $json.decisione.cliente_chiave ? 'si' : 'no' }}\nProvider LLM usato: {{ $json.interpretazione_meta.provider_usato }} ({{ $json.interpretazione_meta.modello }})\n\nTesto della richiesta:\n>>> {{ $json.testo_originale }} <<<\n\nPiano operativo proposto ({{ $json.decisione.piano.length }} azioni):\n{{ $json.decisione.piano.map((a, i) => (i+1) + '. ' + a.tipo.toUpperCase() + ' → ' + a.target + ' (priorità ' + a.priorità + ')').join('\\n') }}\n\nID correlazione: {{ $json.correlation_id }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Approvo, esegui",
            "disapproveLabel": "Rifiuto, fermati"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e6d79b62-7107-41bf-a1ec-23c0f26f29ce",
      "name": "Email Approvazione (Send & Wait)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        17408,
        4464
      ],
      "webhookId": "57b65a36-1227-4781-b763-69f28b44b661",
      "notes": "Pattern Send-and-Wait di n8n: invia un'email all'owner di processo con due bottoni (Approvo / Rifiuto) e mette l'esecuzione in pausa fino al click. La risposta torna sul workflow tramite un webhook autogenerato da n8n.\n\nLa scelta di Gmail (vs Slack o form) è dettata dal fatto che operations e responsabili decisionali leggono prima la mail; in produzione si può aggiungere un canale Slack come fallback.\n\nCredenziale: 'Gmail Operations DigitServe' va configurata localmente."
    },
    {
      "parameters": {
        "jsCode": "// Cattura l'esito dell'approvazione e arricchisce il payload.\n// L'output del nodo Send-and-Wait varia leggermente per versione di n8n: in\n// genere espone $json.approved (boolean) o $json.data.approved. Gestiamo\n// entrambi i pattern.\n\nconst dati_orig = $('Agente Decisionale').first().json;\nconst risposta = $input.first().json;\nconst approvato = risposta.approved ?? risposta.data?.approved ?? false;\n\nreturn [{\n  json: {\n    ...dati_orig,\n    approvazione: {\n      richiesta: true,\n      esito: approvato ? 'approvata' : 'rifiutata',\n      timestamp: new Date().toISOString(),\n      approvatore: 'operations@digitserve.it'\n    }\n  }\n}];"
      },
      "id": "1e116bf3-b6e0-40e2-b236-9558d04af6cd",
      "name": "Esito Approvazione",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17616,
        4464
      ],
      "notes": "Ricostruisce il payload completo (perché il nodo Send-and-Wait non sempre porta avanti tutti i campi originali) e annota l'esito dell'approvazione. Il nodo successivo decide se procedere con l'esecuzione o saltare al log finale."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "auto-1",
              "name": "approvazione",
              "value": "={{ { richiesta: false, esito: 'auto', timestamp: $now.toISO(), approvatore: 'workflow_auto' } }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "01047d02-88a8-480d-a3cd-207ee0858f2e",
      "name": "Auto-approvazione",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17408,
        4784
      ],
      "notes": "Sul percorso 'no approvazione' marchiamo comunque l'evento come 'auto' nei metadati, in modo che l'audit log distingua gli automatismi dalle approvazioni manuali."
    },
    {
      "parameters": {},
      "id": "bdc03e41-d127-4429-9d91-6ee11c0ab12d",
      "name": "Merge - Branch approvazione",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        17840,
        4624
      ],
      "notes": "Riunisce i due percorsi (approvato umano / auto). Da qui in poi il flusso è identico nei due casi, salvo il valore dei meta in `approvazione`."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-rifiutata",
              "leftValue": "={{ $json.approvazione.esito }}",
              "rightValue": "rifiutata",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d1b1a25-a56b-41d5-a9fc-a80b0fd29e61",
      "name": "IF - Rifiutata?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        18064,
        4624
      ],
      "notes": "Se l'approvazione è stata rifiutata, saltiamo l'esecuzione e andiamo direttamente all'audit + risposta. Mantenere la richiesta tracciata anche quando non eseguita è parte del requisito di compliance."
    },
    {
      "parameters": {
        "content": "### Stage 4 - Esecuzione parallela\nSplit del piano in N item (uno per azione) → Switch instrada per `tipo` → 5 branch indipendenti che girano in parallelo.\n\n**Modalità demo (workflow attuale):** ogni executor è un Code node che simula la chiamata al sistema target e produce un `esito_azione` con riferimento mock realistico.\n\n**Produzione:** sostituire ciascun Code con HTTP Request verso il sistema reale (ServiceNow, Salesforce, Slack/Teams, sistema reportistica, ecc.). Schema dell'`esito_azione` invariato.\n\nMerge in modalità Append raccoglie gli esiti dai branch attivi.",
        "height": 224,
        "width": 720,
        "color": 6
      },
      "id": "9a7d7ee1-b409-4885-b779-ebfc82444968",
      "name": "Sticky - Stage 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        18416,
        4064
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "decisione.piano",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "azione_corrente"
        }
      },
      "id": "c844dd34-0209-40f3-bfb5-0596a10cc180",
      "name": "Split - Una per azione",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        18288,
        4624
      ],
      "notes": "Trasforma il piano (array di azioni) in N item separati, uno per azione. Ogni item conserva tutti i campi originali (correlation_id, interpretazione, decisione...) per consentire ai branch a valle di costruire payload completi senza perdere contesto."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-ticket",
                    "leftValue": "={{ $json.azione_corrente.tipo }}",
                    "rightValue": "ticket",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ticket"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-crm",
                    "leftValue": "={{ $json.azione_corrente.tipo }}",
                    "rightValue": "crm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-notifica",
                    "leftValue": "={{ $json.azione_corrente.tipo }}",
                    "rightValue": "notifica",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "notifica"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-report",
                    "leftValue": "={{ $json.azione_corrente.tipo }}",
                    "rightValue": "report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-analisi",
                    "leftValue": "={{ $json.azione_corrente.tipo }}",
                    "rightValue": "analisi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "analisi"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "altro"
        }
      },
      "id": "63ab24e4-cdf6-4d26-89dc-04d3f836332a",
      "name": "Switch - Tipo azione",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        18496,
        4624
      ],
      "notes": "Routing multi-uscita per tipo di azione. Output named: ticket, crm, notifica, report, analisi, altro (fallback). Le azioni non riconosciute confluiscono nel ramo 'altro' che le converte in ticket di revisione."
    },
    {
      "parameters": {
        "jsCode": "// Esegui - Crea Ticket  (simulazione interna)\n//\n// Workflow autocontenuto: il nodo simula la creazione di un ticket nel sistema\n// aziendale e produce direttamente l'`esito_azione` nel formato uniforme atteso\n// dai nodi a valle.\n//\n// PASSAGGIO A PRODUZIONE: sostituire questo Code con un nodo HTTP Request\n// configurato sull'endpoint reale (Jira REST API v3, ServiceNow Table API, ecc.).\n// Lo schema dell'output non cambia: solo il body di chiamata.\n\nconst azione = $json.azione_corrente;\nconst ticket_id = 'TKT-' +\n  Date.now().toString(36).toUpperCase().slice(-6) + '-' +\n  Math.random().toString(36).slice(2, 6).toUpperCase();\n\nreturn [{\n  json: {\n    ...$json,\n    esito_azione: {\n      tipo: 'ticket',\n      target: azione.target,\n      stato: 'eseguita',\n      riferimento: ticket_id,\n      errore: null,\n      timestamp: new Date().toISOString(),\n      dettaglio_mock: {\n        titolo: azione.params.titolo,\n        cliente: azione.params.cliente,\n        urgenza: azione.params.urgenza,\n        priorità: azione.priorità\n      }\n    }\n  }\n}];"
      },
      "id": "b5358347-6d07-49a8-998c-02cfc68bbc41",
      "name": "Esegui - Crea Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18720,
        4336
      ],
      "notes": "Simulazione interna del sistema di ticketing. In produzione: HTTP Request verso Jira/ServiceNow. L'esito_azione e gia nel formato finale."
    },
    {
      "parameters": {
        "jsCode": "// Esegui - Aggiorna CRM  (simulazione interna)\n//\n// Simula l'aggiunta di un evento allo storico cliente (Salesforce Activity,\n// HubSpot Engagement, schema equivalente in CRM proprietari).\n//\n// PASSAGGIO A PRODUZIONE: sostituire con HTTP Request, es.:\n//   PATCH /api/crm/clienti/{id}/storico  body: { evento, note, canale_origine }\n//   risposta:                             { id, evento_id, aggiornato_at }\n\nconst azione = $json.azione_corrente;\nconst id_cliente = (azione.params.cliente && azione.params.cliente.id_cliente) || 'unknown';\nconst evento_id = 'EVT-' +\n  Date.now().toString(36).toUpperCase().slice(-6) + '-' +\n  Math.random().toString(36).slice(2, 6).toUpperCase();\n\nreturn [{\n  json: {\n    ...$json,\n    esito_azione: {\n      tipo: 'crm',\n      target: azione.target,\n      stato: 'eseguita',\n      riferimento: evento_id,\n      errore: null,\n      timestamp: new Date().toISOString(),\n      dettaglio_mock: {\n        id_cliente,\n        evento: azione.params.evento,\n        canale_origine: azione.params.canale_origine\n      }\n    }\n  }\n}];"
      },
      "id": "c3c8317b-6864-40c1-aa11-1e5eeba9de06",
      "name": "Esegui - Aggiorna CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18720,
        4528
      ],
      "notes": "Simulazione interna dell'aggiornamento storico cliente. In produzione: HTTP Request verso Salesforce/HubSpot."
    },
    {
      "parameters": {
        "jsCode": "// Esegui - Notifica Team  (simulazione interna)\n//\n// Simula la consegna di una notifica al team interno (marketing o tecnico).\n//\n// PASSAGGIO A PRODUZIONE: sostituire con un nodo Slack, Microsoft Teams,\n// SendGrid, o un HTTP Request verso il sistema di notifiche scelto.\n\nconst azione = $json.azione_corrente;\nconst notifica_id = 'NTF-' +\n  Date.now().toString(36).toUpperCase().slice(-6) + '-' +\n  Math.random().toString(36).slice(2, 6).toUpperCase();\n\nreturn [{\n  json: {\n    ...$json,\n    esito_azione: {\n      tipo: 'notifica',\n      target: azione.target,\n      stato: 'eseguita',\n      riferimento: notifica_id,\n      errore: null,\n      timestamp: new Date().toISOString(),\n      dettaglio_mock: {\n        destinatario: azione.target,\n        oggetto: azione.params.oggetto\n      }\n    }\n  }\n}];"
      },
      "id": "be582a83-d79a-4da4-ba00-810827c75ef0",
      "name": "Esegui - Notifica Team",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18720,
        4704
      ],
      "notes": "Simulazione interna della notifica al team. In produzione: nodo Slack/Teams/SendGrid o HTTP Request equivalente."
    },
    {
      "parameters": {
        "jsCode": "// Esegui - Programma Report  (simulazione interna)\n//\n// Simula l'accodamento di un job di reportistica asincrono.\n//\n// PASSAGGIO A PRODUZIONE: sostituire con HTTP Request verso il sistema di\n// reportistica aziendale; tipicamente la chiamata e accept-and-defer (HTTP 202)\n// e il report viene completato fuori banda.\n\nconst azione = $json.azione_corrente;\nconst report_id = 'RPT-' +\n  Date.now().toString(36).toUpperCase().slice(-6) + '-' +\n  Math.random().toString(36).slice(2, 6).toUpperCase();\n\nreturn [{\n  json: {\n    ...$json,\n    esito_azione: {\n      tipo: 'report',\n      target: azione.target,\n      stato: 'eseguita',\n      riferimento: report_id,\n      errore: null,\n      timestamp: new Date().toISOString(),\n      dettaglio_mock: {\n        cliente: azione.params.cliente,\n        servizio: azione.params.servizio,\n        eta_completamento_h: 24\n      }\n    }\n  }\n}];"
      },
      "id": "efd06fc1-42c7-494f-9544-b3acc4e10407",
      "name": "Esegui - Programma Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18720,
        4880
      ],
      "notes": "Simulazione interna della programmazione di un report asincrono. In produzione: HTTP Request al sistema di reportistica."
    },
    {
      "parameters": {
        "jsCode": "// Ramo 'analisi': non è un'azione esterna ma un task interno per il team data.\n// Lo modelliamo come ticket interno con tag 'analisi-preliminare' invece di\n// esporre un endpoint dedicato: riduce la superficie di integrazione.\n\nconst azione = $json.azione_corrente;\nreturn [{\n  json: {\n    ...$json,\n    esito_azione: {\n      tipo: 'analisi',\n      stato: 'accodata',\n      coda: 'team_data',\n      params: azione.params,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "910818e7-5425-45e1-a8be-64a2def445b8",
      "name": "Esegui - Accoda Analisi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18720,
        5056
      ],
      "notes": "Le richieste di analisi non corrispondono a una chiamata HTTP esterna: vengono accodate alla queue interna del team data. Le modelliamo come task interni per evitare di confonderle con i ticket cliente-facing."
    },
    {
      "parameters": {
        "jsCode": "// Pass-through dei branch esecutivi.\n// Ogni branch a monte (Crea Ticket, Aggiorna CRM, Notifica Team, Programma\n// Report, Accoda Analisi) produce direttamente un `esito_azione` uniforme.\n// Questo nodo resta come punto di convergenza e hook per future estensioni:\n//   - arricchimento con metadati di rate-limiting,\n//   - injection di trace_id per distributed tracing,\n//   - validazione dello schema dell'esito prima dell'aggregazione.\n\nreturn $input.all();"
      },
      "id": "05ebcfe7-789f-4297-a1fc-666b7cb946d4",
      "name": "Uniforma Esito Azione",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18944,
        4624
      ],
      "notes": "Pass-through, ogni branch a monte produce gia un esito_azione uniforme. Hook per future estensioni (rate-limit, tracing)."
    },
    {
      "parameters": {},
      "id": "1b22c86a-1cfe-409a-b4f4-86f8907209ff",
      "name": "Merge - Aggrega Esiti",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        19168,
        4624
      ],
      "notes": "Aggrega gli esiti di tutte le azioni eseguite. `includeUnpaired=true` evita che azioni in branch non attivi facciano scartare l'intera esecuzione."
    },
    {
      "parameters": {
        "content": "### Stage 5 - Riepilogo, audit, risposta\n1. **Costruisci Riepilogo** assembla `audit_record` (verboso, archivio) e `risposta_sincrona` (compatta, chiamante).\n2. **Persisti Audit Log** simula la scrittura su archivio append-only. Produzione: ad esempio un Postgres dedicato.\n3. **Respond to Webhook** chiude il ciclo sincrono, restituisce solo `risposta_sincrona` (non l'audit completo) per non esporre dettagli interni.\n\n**Esito_complessivo conservativo**: anche un solo fallimento porta a `parziale`, mai falso `completata`.",
        "height": 172,
        "width": 876,
        "color": 6
      },
      "id": "0f0f0295-202a-485b-aa02-1cc31160fb28",
      "name": "Sticky - Stage 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        19184,
        4256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Costruzione del riepilogo strutturato e dell'audit record.\n// Output:\n//   - audit_record: snapshot completo destinato all'archivio immutabile.\n//   - risposta_sincrona: oggetto restituito al chiamante (subset utile).\n//\n// Aggreghiamo gli esiti dalle iterazioni precedenti. Il merge di n8n consegna\n// un singolo item con array dei dati ricevuti dai branch upstream.\n\nconst items = $input.all();\nconst esiti = items\n  .map(it => it.json.esito_azione)\n  .filter(Boolean);\n\nconst dati_base = items[0]?.json || {};\n\nconst totali = {\n  totali: esiti.length,\n  eseguite: esiti.filter(e => e.stato === 'eseguita').length,\n  fallite: esiti.filter(e => e.stato === 'fallita').length,\n  accodate: esiti.filter(e => e.stato === 'accodata').length,\n  sconosciute: esiti.filter(e => e.stato === 'sconosciuto').length\n};\n\nconst esito_complessivo = (\n  totali.fallite > 0 ? 'parziale' :\n  totali.totali === 0 ? 'nessuna_azione' :\n  'completata'\n);\n\nconst audit_record = {\n  correlation_id: dati_base.correlation_id,\n  ricevuta_at: dati_base.ricevuta_at,\n  chiusa_at: new Date().toISOString(),\n  canale: dati_base.canale,\n  mittente: dati_base.mittente,\n  testo_originale: dati_base.testo_originale,\n  interpretazione: dati_base.interpretazione,\n  interpretazione_meta: dati_base.interpretazione_meta,\n  decisione: dati_base.decisione,\n  approvazione: dati_base.approvazione,\n  esiti,\n  totali,\n  esito_complessivo\n};\n\nconst risposta_sincrona = {\n  correlation_id: audit_record.correlation_id,\n  esito: esito_complessivo,\n  totali,\n  azioni: esiti.map(e => ({\n    tipo: e.tipo,\n    stato: e.stato,\n    riferimento: e.riferimento,\n    errore: e.errore\n  })),\n  approvazione: dati_base.approvazione,\n  provider_llm: dati_base.interpretazione_meta?.provider_usato,\n  messaggio: esito_complessivo === 'completata'\n    ? 'Tutte le azioni richieste sono state completate con successo.'\n    : esito_complessivo === 'parziale'\n      ? 'Alcune azioni sono fallite. Verificare il dettaglio nei log.'\n      : 'Nessuna azione è stata eseguita (richiesta rifiutata o vuota).'\n};\n\nreturn [{ json: { audit_record, risposta_sincrona } }];"
      },
      "id": "ebff818c-9b18-4578-b2e3-ce19f1a86b34",
      "name": "Costruisci Riepilogo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19376,
        4624
      ],
      "notes": "Aggregazione finale. Distinguiamo l'audit_record (verboso, completo, destinato all'archivio) dalla risposta_sincrona (compatta, leggibile, restituita al chiamante).\nL'esito_complessivo segue una logica conservativa: anche un solo fallimento porta a 'parziale', così che l'operatore non riceva un falso 'tutto ok'."
    },
    {
      "parameters": {
        "jsCode": "// Persisti Audit Log  (simulazione interna)\n//\n// Simula la scrittura del record di audit su un archivio append-only.\n//\n// PASSAGGIO A PRODUZIONE: sostituire con HTTP Request verso l'endpoint reale\n// (Postgres tabella append-only, Elasticsearch index immutabile, S3 bucket con\n// object lock, o data warehouse dedicato). La retention raccomandata e 24 mesi\n// in linea con i requisiti tipici di compliance.\n\nconst dati = $input.first().json;\nconst audit_id = 'AUD-' +\n  Date.now().toString(36).toUpperCase().slice(-6) + '-' +\n  Math.random().toString(36).slice(2, 6).toUpperCase();\n\nreturn [{\n  json: {\n    ...dati,\n    audit_persistence: {\n      audit_id,\n      stato: 'persistito_mock',\n      archiviato_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "e094b147-4d79-455f-b9d7-5fcf7ae2fa2f",
      "name": "Persisti Audit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19600,
        4624
      ],
      "notes": "Simulazione interna della persistenza audit. In produzione: scrittura su archivio append-only (Postgres/Elasticsearch/S3 object lock)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Costruisci Riepilogo').first().json.risposta_sincrona }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Correlation-Id",
                "value": "={{ $('Costruisci Riepilogo').first().json.audit_record.correlation_id }}"
              }
            ]
          }
        }
      },
      "id": "aa3142ab-a389-41e9-a861-af0eb6a5f88a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        19824,
        4624
      ],
      "notes": "Chiusura del ciclo sincrono. Restituiamo il subset 'risposta_sincrona' (non l'audit completo) per non esporre informazioni interne (es. punteggio_priorità, valutazioni del decisionale) al chiamante esterno."
    },
    {
      "parameters": {
        "content": "### Note finali\n\n\n**Limiti noti**\n- LLM single-call: casi ambigui producono fallback. Mitigazione: LLM-as-judge su `parse_ok=false` o confidenza bassa.\n- Whitelist clienti chiave hardcoded: in produzione lookup CRM con cache di sessione.\n- Executor e audit simulati (Code). Sostituzione con HTTP in produzione, schema invariato.\n- Approval via email: latenza dipende dall'approvatore.\n\n**Direzioni possibili di evoluzione**\n- Job nightly di KPI dall'audit log (tempo medio, % automazione, fallimenti per tipo).\n- A/B fra Ollama e OpenAI con `provider` random su un campione di traffico.\n- Multilingua nativo (entrambi i modelli lo supportano), routing dell'approvazione nella lingua giusta.\n\n**Critica al disegno**\n- Architettura a stadi vs agente monolitico. Separato il flusso in tre passaggi distinti (interpretazione, decisione, esecuzione) invece di affidare tutto a un unico agente LLM. Costa qualche nodo in più ma rende ogni decisione ispezionabile sul canvas e ogni esito tracciato in modo verificabile.\n- Decisionale a regole vs LLM. Le regole sono meno adattabili dei modelli probabilistici, ma producono sempre lo stesso piano a parità di input e non hanno costo per esecuzione. Quando una richiesta esce dalle regole previste interviene un operatore umano via gate di approvazione, scelta più solida di un secondo LLM in serie sul piano d'azione.\n- Esecuzione parallela vs sequenziale. Lanciare le azioni contemporaneamente abbatte il tempo di risposta complessivo, ma se due esecutori aggiornano lo stesso oggetto possono crearsi incongruenze. Ogni richiesta porta con sé il correlation_id, che i sistemi a valle usano per riconoscere chiamate duplicate dello stesso evento ed evitare scritture ripetute.\n\n\n---\n---\n\n\n### Stima esemplificativa dei KPI\n\n\nValori X% e Y% del brief sono \"da definire in fase di baseline\". Stima ragionata su benchmark di settore B2B servizi digitali, da validare su dati reali di DigitServe.\n\n\n**Baseline manuale ipotizzata**: ~25 min/richiesta (mix semplici 15 min e multi-azione 45 min), 60-100 richieste/giorno, omissioni manuali 8-12%.\n\n\n**Tempo workflow**: ~15-25s end-to-end senza approvazione, 5-10 min con approvazione.\n\n\n```\n  │ KPI                          │ Stima            │ Calcolo                                                                              │\n  ├──────────────────────────────┼──────────────────┼──────────────────────────────────────────────────────────────────────────────────────┤\n  │ X = riduzione tempo medio    │ ~70% a regime    │ (25 - 7) / 25 ≈ 72%. Conservativo: -50% al rollout, -70% dopo 2-3 mesi di tuning.    │\n  │ Y = % azioni automatizzate   │ ~80%             │ 0.88 (copertura categorie) × 0.90 (% in modalità auto) ≈ 80%.                        │\n```",
        "height": 832,
        "width": 1424,
        "color": 5
      },
      "id": "4b82e963-cc05-41d3-83ba-89c45d74949d",
      "name": "Sticky - Note finali",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        19024,
        4816
      ]
    },
    {
      "parameters": {
        "content": "### Casi di test\n\nPer ognuno: `Listen for test event` sul webhook, poi curl. URL: `http://localhost:5678/webhook-test/digitserve-richiesta`. Header: `Content-Type: application/json`. Body sotto.\n\n**1. ACME, cliente chiave (gate triggerato)**\n```\n{\"canale\":\"form\",\"mittente\":{\"nome\":\"Marco Rossi\",\"ruolo\":\"account_manager\",\"email\":\"m.rossi@digitserve.it\"},\"testo\":\"Cliente: ACME. Servizio: campagna pubblicitaria. Anomalia: CTR molto basso da ieri. Azioni richieste: 1) analisi preliminare, 2) apertura ticket tecnico, 3) notifica al team marketing, 4) aggiornamento storico CRM.\",\"provider\":\"ollama\"}\n```\nAtteso: 4 azioni, `cliente_chiave=true`, `richiede_approvazione=true`. Si ferma sul gate (Gmail deattivato).\n\n**2. Routine senza approvazione**\n```\n{\"canale\":\"email\",\"mittente\":{\"nome\":\"Laura Bianchi\",\"ruolo\":\"customer_success\",\"email\":\"l.bianchi@digitserve.it\"},\"testo\":\"Aggiorna lo storico del cliente Beta s.r.l.: hanno chiesto formazione aggiuntiva per il modulo CRM.\",\"provider\":\"ollama\"}\n```\nAtteso: 1 azione `crm`, esecuzione automatica, `esito=completata`.\n\n**3. Critico bancario, branch Ollama (dati sensibili)**\n```\n{\"canale\":\"chat\",\"mittente\":{\"nome\":\"Davide Conti\",\"ruolo\":\"tech_lead\",\"email\":\"d.conti@digitserve.it\"},\"testo\":\"Down totale dell'integrazione SAP per il cliente BancaItalsud da 30 minuti. Apri ticket P1, notifica subito il team tecnico e fai escalation immediata.\"}\n```\nAtteso: urgenza `critica`, `richiede_approvazione=true`, piano [ticket, notifica_tecnico, escalation].\n\n**4. Ambiguo (test fallback parser)**\n```\n{\"canale\":\"email\",\"mittente\":{\"nome\":\"Anonimo\",\"ruolo\":\"sconosciuto\",\"email\":\"qa@digitserve.it\"},\"testo\":\"qualcosa non va, controllate per favore\"}\n```\nAtteso: interpretazione povera, fallback su ticket di revisione manuale.\n\n**5. Multi-azione parallela senza approvazione**\n```\n{\"canale\":\"form\",\"mittente\":{\"nome\":\"Giulia Marino\",\"ruolo\":\"delivery_manager\",\"email\":\"g.marino@digitserve.it\"},\"testo\":\"Per il cliente DeltaTech aggiorna lo storico segnalando il rinnovo del contratto annuale, notifica il team tecnico per la pianificazione e programma un report mensile.\",\"provider\":\"ollama\"}\n```\nAtteso: 3 azioni in parallelo (crm, notifica_tecnico, report), `esito=completata`, `eseguite=3`.",
        "height": 764,
        "width": 1088,
        "color": 4
      },
      "id": "3e447d24-5da3-4571-adcf-529f117c3a82",
      "name": "Sticky - Casi di test",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14384,
        4688
      ]
    },
    {
      "parameters": {
        "content": "### Setup ed esecuzione\n\n**Prerequisiti**\n- n8n >= 1.40 (`npx n8n` o Docker)\n- Ollama con `llama3.2` scaricato (`ollama pull llama3.2`).\n- Opzionale: chiave OpenAI come credenziale Header Auth (header `Authorization`, value `Bearer sk-...`).\n\n**Procedura**\n1. *Workflows → Add workflow → Import from File*: selezionare il `.json`.\n2. **Demo senza Gmail**: disattivare il nodo `Email Approvazione (Send & Wait)` (right-click → Deactivate).\n4. Sul `Webhook` → *Listen for test event*. Mandare il curl di test.\n\n**Risposta tipo**\n```\n{\n  \"correlation_id\": \"...\",\n  \"esito\": \"completata\",\n  \"totali\": {\"totali\": 1, \"eseguite\": 1, ...},\n  \"azioni\": [{\"tipo\": \"crm\", \"stato\": \"eseguita\", \"riferimento\": \"EVT-...\"}],\n  \"provider_llm\": \"ollama\",\n  \"messaggio\": \"Tutte le azioni richieste sono state completate con successo.\"\n}\n```\n\n**Migrazione a produzione**\nSostituire i 5 Code executor (`Esegui - *`, `Persisti Audit Log`) con HTTP Request verso gli endpoint reali. Schema `esito_azione` invariato, nessuna modifica downstream.",
        "height": 540,
        "width": 864,
        "color": 4
      },
      "id": "af1967ea-7588-4b0d-ae67-d18cad70a70a",
      "name": "Sticky - Setup e esecuzione",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15504,
        4912
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Richiesta interna": {
      "main": [
        [
          {
            "node": "Normalizza Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizza Input": {
      "main": [
        [
          {
            "node": "Configura Provider LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configura Provider LLM": {
      "main": [
        [
          {
            "node": "Switch - Provider LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Provider LLM": {
      "main": [
        [
          {
            "node": "LLM Interprete (Ollama)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Interprete (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Interprete (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Interprete (Ollama)": {
      "main": [
        [
          {
            "node": "Parse Interpretazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Interprete (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Interpretazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Interpretazione": {
      "main": [
        [
          {
            "node": "Agente Decisionale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Decisionale": {
      "main": [
        [
          {
            "node": "IF - Richiede Approvazione?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Richiede Approvazione?": {
      "main": [
        [
          {
            "node": "Email Approvazione (Send & Wait)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-approvazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Approvazione (Send & Wait)": {
      "main": [
        [
          {
            "node": "Esito Approvazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esito Approvazione": {
      "main": [
        [
          {
            "node": "Merge - Branch approvazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-approvazione": {
      "main": [
        [
          {
            "node": "Merge - Branch approvazione",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Branch approvazione": {
      "main": [
        [
          {
            "node": "IF - Rifiutata?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Rifiutata?": {
      "main": [
        [
          {
            "node": "Costruisci Riepilogo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split - Una per azione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split - Una per azione": {
      "main": [
        [
          {
            "node": "Switch - Tipo azione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Tipo azione": {
      "main": [
        [
          {
            "node": "Esegui - Crea Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esegui - Aggiorna CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esegui - Notifica Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esegui - Programma Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esegui - Accoda Analisi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esegui - Crea Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esegui - Crea Ticket": {
      "main": [
        [
          {
            "node": "Uniforma Esito Azione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esegui - Aggiorna CRM": {
      "main": [
        [
          {
            "node": "Uniforma Esito Azione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esegui - Notifica Team": {
      "main": [
        [
          {
            "node": "Uniforma Esito Azione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esegui - Programma Report": {
      "main": [
        [
          {
            "node": "Uniforma Esito Azione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esegui - Accoda Analisi": {
      "main": [
        [
          {
            "node": "Uniforma Esito Azione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uniforma Esito Azione": {
      "main": [
        [
          {
            "node": "Merge - Aggrega Esiti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Aggrega Esiti": {
      "main": [
        [
          {
            "node": "Costruisci Riepilogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Costruisci Riepilogo": {
      "main": [
        [
          {
            "node": "Persisti Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persisti Audit Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b0440f59-a013-49a0-9421-e2b99724c293",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6e32e8ab883e6f4345fd421010ef581dde0769849f27fa8f279613082e13a2c"
  },
  "id": "uIeFgGVIUGliLA9G",
  "tags": [
    {
      "updatedAt": "2026-05-09T15:03:22.304Z",
      "createdAt": "2026-05-09T15:03:22.304Z",
      "id": "66enAxmGLD07Z6bF",
      "name": "agentic-ai"
    },
    {
      "updatedAt": "2026-05-09T15:03:22.316Z",
      "createdAt": "2026-05-09T15:03:22.316Z",
      "id": "CFDpWXvWO6Rb4Bxo",
      "name": "digitserve"
    },
    {
      "updatedAt": "2026-05-09T15:03:22.311Z",
      "createdAt": "2026-05-09T15:03:22.311Z",
      "id": "vaV5K3v9W6ckbsCa",
      "name": "modulo-03"
    }
  ]
}