03_agentic_ai/_PRJ_orchestrazione_agenti_servizi_digitali/PRJ_orchestrazione_agenti_servizi_digitali.json
{
  "name": "DigitServe S.r.l. - Orchestrazione di agenti AI per azienda di servizi digitali",
  "nodes": [
    {
      "parameters": {
        "content": "## DigitServe S.r.l. - Orchestrazione di agenti AI per azienda di servizi digitali\n### Modulo - Agentic AI\n\n**Autore:** Simone La Porta · **Data:** 2026-05-19 · **Runtime:** Ollama (default) o OpenAI\n\n---\n\n### Obiettivo\nRiceve richieste interne (form/email/chat), le interpreta, decide il piano operativo, le esegue o le sottopone ad approvazione umana sui casi sensibili, registra audit completo end-to-end.\n\n### Architettura\n```\nWebhook -> Normalizza -> Switch provider -> LLM (Ollama|OpenAI) -> Parse\n   -> Decisionale -> IF approvazione -> [HITL Gmail Send&Wait | Auto-approva]\n   -> Esegui Piano (dispatcher 5 tipi) -> Costruisci -> Persisti -> Respond\n```\n\n### Scelte di design\n- **Dual-provider LLM** selezionabile per richiesta. Ollama locale di default per privacy e zero esfiltrazione; OpenAI per qualita' superiore su input ambigui.\n- **Decisionale a regole** Regole = piano riproducibile e ispezionabile. Casi non coperti passano dal gate HITL.\n- **Executor mock single-node** `Esegui Piano` simula gli effetti con schema `esito_azione` fisso (TKT-/EVT-/NTF-/RPT-/ANL- + AUD- da `Persisti Audit Log`). Migrazione produzione = sostituire gli handler con HTTP Request, schema invariato.\n- **HTTP Request diretto** verso Ollama/OpenAI: controllo puntuale prompt/parsing, portabilita' del JSON, zero dipendenze.\n- **Audit `correlation_id` end-to-end** + header `X-Correlation-Id` in response per riconciliazione lato chiamante.",
        "height": 502,
        "width": 1088,
        "color": 5
      },
      "id": "22dbc9c4-71b7-49ec-86aa-a1066897c60c",
      "name": "Sticky - Header progetto",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14224,
        4144
      ]
    },
    {
      "parameters": {
        "content": "### Stage 0 - Ingestion\nWebhook `POST /digitserve-richiesta`. Payload:\n```\n{\n  \"canale\": \"form|email|chat\",\n  \"mittente\": {\"nome\", \"ruolo\", \"email\"},\n  \"testo\": str,\n  \"provider\": \"ollama\"|\"openai\"  (opt, default ollama),\n  \"modello_llm\": str             (opt, default per provider)\n}\n```\n`Normalizza Input` genera `correlation_id` (id esecuzione + ms), usato come chiave su tutto il flusso.",
        "height": 292,
        "width": 652,
        "color": 6
      },
      "id": "14b642e7-a829-443f-bb14-6e14caeba525",
      "name": "Sticky - Stage 0",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15520,
        4288
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "digitserve-richiesta",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "id": "7fd35abf-a8bd-46dd-be27-527b7b7a40a2",
      "name": "Webhook - Richiesta interna",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        15568,
        4624
      ],
      "webhookId": "digitserve-richiesta-001",
      "notes": "Trigger HTTP per richieste dai canali interni. Esposto come `POST /digitserve-richiesta`.\n\nPayload atteso:\n{\n  \"canale\": \"form|email|chat\",\n  \"mittente\": {\"nome\": str, \"ruolo\": str, \"email\": str},\n  \"testo\": str,\n  \"allegati\": [str] (opzionale),\n  \"timestamp\": ISO-8601 (opzionale, fallback a ora server),\n  \"provider\": \"ollama\" | \"openai\"  (opzionale, default ollama)\n}\n\nresponseMode='responseNode' perché la risposta sincrona viene costruita dal nodo finale 'Respond to Webhook' dopo l'aggregazione degli esiti."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "correlation_id",
              "value": "={{ $jmespath($json, 'body.correlation_id') || $execution.id + '-' + $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "canale",
              "value": "={{ $json.body.canale || 'sconosciuto' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "mittente",
              "value": "={{ $json.body.mittente || {} }}",
              "type": "object"
            },
            {
              "id": "a4",
              "name": "testo",
              "value": "={{ ($json.body.testo || '').trim() }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "allegati",
              "value": "={{ $json.body.allegati || [] }}",
              "type": "array"
            },
            {
              "id": "a6",
              "name": "ricevuta_at",
              "value": "={{ $json.body.timestamp || $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "741739f1-0fd9-4b20-9df8-2fce7b938e72",
      "name": "Normalizza Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15776,
        4624
      ],
      "notes": "Normalizza la struttura del payload prescindendo dal canale di origine. Genera un correlation_id deterministico (id esecuzione + ms) quando il chiamante non lo fornisce: utile per riconciliare audit, ticket e notifiche.\nIl `trim()` sul testo evita che spazi in coda alterino l'embedding o il prompt LLM."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "provider",
              "value": "={{ ['ollama','openai'].includes(($('Webhook - Richiesta interna').first().json.body.provider || '').toLowerCase()) ? ($('Webhook - Richiesta interna').first().json.body.provider).toLowerCase() : 'ollama' }}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "modello_llm",
              "value": "={{ $('Webhook - Richiesta interna').first().json.body.modello_llm || ( ($('Webhook - Richiesta interna').first().json.body.provider || 'ollama').toLowerCase() === 'openai' ? 'gpt-4o-mini' : 'llama3.2' ) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3d1e9e46-7833-4ed4-8104-273446334c33",
      "name": "Configura Provider LLM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16000,
        4624
      ],
      "notes": "Punto unico di configurazione del provider LLM.\n\nLogica:\n- Se il chiamante passa `provider` in payload è il valore è fra {ollama, openai}, lo si usa.\n- Altrimenti default a `ollama` (privacy-first).\n- `modello_llm` può essere sovrascritto dal payload, altrimenti usa il default per provider:\n    ollama → llama3.2\n    openai → gpt-4o-mini\n\nLa scelta del default su Ollama riflette il principio di minimizzazione: i dati restano in casa salvo richiesta esplicita."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-ollama",
                    "leftValue": "={{ $json.provider }}",
                    "rightValue": "ollama",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ollama"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r-openai",
                    "leftValue": "={{ $json.provider }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "openai"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "fallback"
        }
      },
      "id": "a303fc7f-810e-407a-96ad-421d2ae46061",
      "name": "Switch - Provider LLM",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        16224,
        4624
      ],
      "notes": "Routing su due output distinti (ollama, openai) è un fallback (extra) per sicurezza. Mantenere due branch separati invece di un unico nodo HTTP parametrizzato facilità: la lettura del workflow nel canvas, l'uso di credentials diverse, è la possibilità di applicare retry/timeout differenti per provider."
    },
    {
      "parameters": {
        "content": "### Stage 1 - Interpretazione (LLM)\nUnico componente probabilistico, isolato qui. Schema JSON forzato (`format=json` su Ollama, `response_format={type:'json_object'}` su OpenAI) per garantire output parsabile senza testo a corollario.\n\n**Branch Ollama** (default): `llama3.2` in locale, zero esfiltrazione.\n**Branch OpenAI**: `gpt-4o-mini`, dati transitano sul provider.\n\nParser difensivo a valle: su HTTP error o JSON malformato → `parse_ok=false`, fallback conservativo (urgenza alta + ticket di revisione manuale) e flag che il decisionale onora per forzare HITL. Non collassa \"LLM rotto\" e \"LLM ha risposto male\" nello stesso esito ma propaga entrambi al gate umano.",
        "height": 262,
        "width": 560,
        "color": 6
      },
      "id": "667de38e-56c8-452f-8b11-02cbb128cefa",
      "name": "Sticky - Stage 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16240,
        4240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.modello_llm, format: \"json\", stream: false, options: { temperature: 0.1, num_ctx: 4096 }, prompt: \"Sei l'agente di interpretazione del sistema interno di DigitServe S.r.l., un'azienda italiana di servizi digitali B2B. Analizza la richiesta arrivata dal canale '\" + $json.canale + \"' e produci ESCLUSIVAMENTE un JSON con questo schema:\\n\\n{\\n  \\\"intento\\\": uno fra [\\\"analisi_anomalia\\\", \\\"apertura_ticket\\\", \\\"aggiornamento_crm\\\", \\\"notifica_team\\\", \\\"richiesta_report\\\", \\\"escalation\\\", \\\"altro\\\"],\\n  \\\"cliente\\\": {\\\"nome\\\": stringa | null, \\\"id_cliente\\\": stringa | null},\\n  \\\"servizio\\\": uno fra [\\\"campagna_pubblicitaria\\\", \\\"supporto_tecnico\\\", \\\"integrazione_sistemi\\\", \\\"formazione\\\", \\\"altro\\\"] | null,\\n  \\\"urgenza\\\": uno fra [\\\"bassa\\\", \\\"media\\\", \\\"alta\\\", \\\"critica\\\"],\\n  \\\"azioni_richieste\\\": lista non vuota fra [\\\"analisi\\\", \\\"ticket\\\", \\\"aggiornamento_crm\\\", \\\"notifica_marketing\\\", \\\"notifica_tecnico\\\", \\\"report\\\", \\\"escalation\\\"],\\n  \\\"sentiment\\\": uno fra [\\\"neutro\\\", \\\"frustrato\\\", \\\"preoccupato\\\", \\\"soddisfatto\\\"],\\n  \\\"motivazione_urgenza\\\": stringa breve,\\n  \\\"contesto\\\": stringa breve (max 280 caratteri)\\n}\\n\\nRegole:\\n- Non aggiungere testo fuori dal JSON.\\n- Se un campo non è desumibile dalla richiesta, usa null o una lista vuota.\\n- L'urgenza 'critica' va riservata a impatto su clienti chiave, blocchi di servizio o anomalie con perdita economica visibile.\\n- Usa l'azione 'escalation' quando la richiesta menziona esplicitamente escalation, intervento urgente del manager, o impatto bloccante su un cliente chiave; combinala con 'ticket' e 'notifica_tecnico' invece di usarla da sola.\\n\\nRichiesta da interpretare:\\n\" + $json.testo }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "d9225ac8-2064-412f-853d-353bfadfd8b8",
      "name": "LLM Interprete (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16464,
        4560
      ],
      "notes": "Branch Ollama. Chiamata diretta all'API locale `localhost:11434/api/generate` con `format=json` per forzare output JSON.\n\nTimeout 60s: llama3.2 su CPU consumer può impiegare fra 5 e 30s per output di ~300 token. In produzione conviene allargare la finestra e/o introdurre un retry su errori transitori (gestibile dalle Settings del nodo).\n\nResponse shape attesa: `{ response: '<JSON-string>', total_duration: ns, ... }`."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.modello_llm, response_format: { type: \"json_object\" }, temperature: 0.1, messages: [ { role: \"system\", content: \"Sei l'agente di interpretazione del sistema interno di DigitServe S.r.l., un'azienda italiana di servizi digitali B2B. Restituisci ESCLUSIVAMENTE un JSON valido che rispetti lo schema indicato dall'utente. Non aggiungere testo fuori dal JSON.\" }, { role: \"user\", content: \"Schema richiesto:\\n{\\n  \\\"intento\\\": uno fra [\\\"analisi_anomalia\\\", \\\"apertura_ticket\\\", \\\"aggiornamento_crm\\\", \\\"notifica_team\\\", \\\"richiesta_report\\\", \\\"escalation\\\", \\\"altro\\\"],\\n  \\\"cliente\\\": {\\\"nome\\\": stringa | null, \\\"id_cliente\\\": stringa | null},\\n  \\\"servizio\\\": uno fra [\\\"campagna_pubblicitaria\\\", \\\"supporto_tecnico\\\", \\\"integrazione_sistemi\\\", \\\"formazione\\\", \\\"altro\\\"] | null,\\n  \\\"urgenza\\\": uno fra [\\\"bassa\\\", \\\"media\\\", \\\"alta\\\", \\\"critica\\\"],\\n  \\\"azioni_richieste\\\": lista non vuota fra [\\\"analisi\\\", \\\"ticket\\\", \\\"aggiornamento_crm\\\", \\\"notifica_marketing\\\", \\\"notifica_tecnico\\\", \\\"report\\\", \\\"escalation\\\"],\\n  \\\"sentiment\\\": uno fra [\\\"neutro\\\", \\\"frustrato\\\", \\\"preoccupato\\\", \\\"soddisfatto\\\"],\\n  \\\"motivazione_urgenza\\\": stringa breve,\\n  \\\"contesto\\\": stringa breve (max 280 caratteri)\\n}\\n\\nL'urgenza 'critica' va riservata a impatto su clienti chiave, blocchi di servizio o anomalie con perdita economica visibile.\\nUsa l'azione 'escalation' quando la richiesta menziona esplicitamente escalation, intervento urgente del manager, o impatto bloccante su un cliente chiave; combinala con 'ticket' e 'notifica_tecnico' invece di usarla da sola.\\n\\nCanale di origine: \" + $json.canale + \"\\nRichiesta da interpretare:\\n\" + $json.testo } ] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "cec86c4e-6203-43e7-84c8-36f757a772b3",
      "name": "LLM Interprete (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16464,
        4784
      ],
      "notes": "Branch OpenAI. Chiamata a Chat Completions con `response_format={type:'json_object'}`, modalita JSON-mode che garantisce output JSON ben formato senza testo a corollario.\n\nCredenziale richiesta: tipo `httpHeaderAuth` con header `Authorization` e valore `Bearer {{OPENAI_API_KEY}}`. La chiave NON va inserita nel workflow JSON: viene letta dalla credential di n8n al runtime, in linea con le best practice di gestione segreti.\n\nResponse shape attesa: `{ choices: [{ message: { content: '<JSON-string>' } }], usage: {...} }`."
    },
    {
      "parameters": {
        "jsCode": "// Estrae e valida l'output dell'LLM, gestendo entrambe le shape\n// (Ollama vs OpenAI). Tre comportamenti chiave:\n//\n// 1. Disambiguazione provider: la presenza di `response.choices` indica\n//    OpenAI; la presenza di `response.response` indica Ollama. Si fallback\n//    a varie altre shape conosciute per robustezza.\n// 2. Parse difensivo: se l'LLM restituisce qualcosa di non parsabile, la\n//    richiesta viene comunque processata con un fallback conservativo\n//    (urgenza 'alta', solo ticket) anziche fallire l'esecuzione.\n// 3. Sanitizzazione: clamp dei valori enum su quelli ammessi,\n//    normalizzazione delle azioni in array non vuoto.\n\nconst input = $input.first().json;\n\n// Riconoscimento provider e estrazione del testo grezzo\nlet raw = null;\nlet provider_usato = 'sconosciuto';\nlet usage_info = null;\nlet latenza_ms = null;\n\nif (input.choices && Array.isArray(input.choices) && input.choices.length > 0) {\n  // Shape OpenAI Chat Completions\n  raw = input.choices[0]?.message?.content;\n  provider_usato = 'openai';\n  usage_info = input.usage || null;\n} else if (typeof input.response === 'string') {\n  // Shape Ollama /api/generate\n  raw = input.response;\n  provider_usato = 'ollama';\n  if (input.total_duration) {\n    latenza_ms = Math.round(input.total_duration / 1e6);\n  }\n} else if (input.body?.response) {\n  raw = input.body.response;\n  provider_usato = 'ollama';\n} else if (input.message?.content) {\n  raw = input.message.content;\n  provider_usato = 'ollama-chat';\n} else {\n  raw = input.data?.response || input.data?.choices?.[0]?.message?.content || null;\n}\n\nlet interpretazione;\nlet parse_ok = true;\nlet parse_error = null;\n\ntry {\n  if (raw == null) throw new Error('output LLM vuoto o shape non riconosciuta');\n  interpretazione = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  if (!interpretazione || typeof interpretazione !== 'object') {\n    throw new Error('output non è un oggetto JSON');\n  }\n} catch (err) {\n  parse_ok = false;\n  parse_error = err.message;\n  interpretazione = {\n    intento: 'altro',\n    cliente: { nome: null, id_cliente: null },\n    servizio: null,\n    urgenza: 'alta',\n    azioni_richieste: ['ticket'],\n    sentiment: 'neutro',\n    motivazione_urgenza: 'fallback: parsing LLM fallito, escalation a revisione manuale',\n    contesto: 'Richiesta da interpretare manualmente.'\n  };\n}\n\n// Validazione difensiva sui campi critici\nconst urgenze_ammesse = ['bassa', 'media', 'alta', 'critica'];\nif (!urgenze_ammesse.includes(interpretazione.urgenza)) {\n  interpretazione.urgenza = 'media';\n}\nif (!Array.isArray(interpretazione.azioni_richieste) || interpretazione.azioni_richieste.length === 0) {\n  interpretazione.azioni_richieste = ['ticket'];\n}\n\n// Recupero dati di contesto dalla richiesta originale e dal config provider\nconst contesto_richiesta = $('Normalizza Input').first().json;\nconst config = $('Configura Provider LLM').first().json;\n\nreturn [{\n  json: {\n    correlation_id: contesto_richiesta.correlation_id,\n    canale: contesto_richiesta.canale,\n    mittente: contesto_richiesta.mittente,\n    testo_originale: contesto_richiesta.testo,\n    ricevuta_at: contesto_richiesta.ricevuta_at,\n    interpretazione,\n    interpretazione_meta: {\n      parse_ok,\n      parse_error,\n      provider_richiesto: config.provider,\n      provider_usato,\n      modello: config.modello_llm,\n      latenza_ms,\n      tokens: usage_info\n    }\n  }\n}];"
      },
      "id": "b4aeaf8e-984d-42d3-9a0e-1eeeaca32da0",
      "name": "Parse Interpretazione",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16704,
        4624
      ],
      "notes": "Validazione e fallback sull'output dell'LLM, agnostico rispetto al provider.\n\nComportamenti:\n1. Disambiguazione automatica fra shape Ollama (`response`) e OpenAI (`choices[0].message.content`).\n2. Parse difensivo: se l'LLM restituisce qualcosa di non parsabile, la richiesta viene comunque processata con un fallback conservativo (urgenza 'alta', solo ticket) anziche fallire l'esecuzione.\n3. Sanitizzazione: clamp dei valori enum su quelli ammessi, normalizzazione delle azioni in array non vuoto.\n4. Riassemblaggio del payload: porta avanti correlation_id, mittente, testo originale e meta dell'interpretazione (provider, modello, latenza, token usage, esito parse) per audit a valle."
    },
    {
      "parameters": {
        "content": "### Stage 2 - Decisionale (regole)\nCode node deterministico: mappa `interpretazione -> piano operativo`. Regole motivate da requisito di tracciabilita' (piano riproducibile a parita' di input) e costo zero per richiesta.\n\n**Scoring priorita' (0-100):**\n- urgenza: bassa=10, media=30, alta=60, critica=90\n- sentiment: frustrato/preoccupato +10, soddisfatto -5\n- servizio: campagna_pubblicitaria +5, supporto_tecnico +10\n- azione `escalation`: +50 sul punteggio base (cosi' va in cima al piano)\n\n**Trigger `richiede_approvazione`:**\n- `parse_ok=false` (interpretazione corrotta)\n- urgenza `critica` OR intento/azione `escalation`\n- cliente in whitelist `CLIENTI_CHIAVE` + (`aggiornamento_crm` OR azione sensibile come `notifica_marketing`)\n\nWhitelist hardcoded (ACME, EnerNova, BancaItalsud, Pharmacare); in produzione lookup CRM.",
        "height": 438,
        "width": 460,
        "color": 6
      },
      "id": "31563f5c-653b-47d5-b14b-799c0d51055b",
      "name": "Sticky - Stage 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16832,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Agente decisionale deterministico.\n// Trasforma l'interpretazione semantica in un piano operativo composto da\n// azioni discrete, ognuna con parametri, priorità e flag di approvazione.\n//\n// Lo scoring di priorità combina:\n//   - urgenza:     bassa=10, media=30, alta=60, critica=90\n//   - sentiment:   frustrato/preoccupato +10, soddisfatto -5\n//   - servizio:    campagna_pubblicitaria +5, supporto_tecnico +10\n// Il punteggio finale guida l'ordinamento delle azioni se eseguite\n// sequenzialmente; in modalita parallela serve come metadato per i log.\n//\n// L'approvazione umana scatta quando ALMENO una delle condizioni è vera:\n//   - parsing dell'LLM fallito (interpretazione_meta.parse_ok === false)\n//   - urgenza == 'critica'\n//   - intento == 'escalation' OR azione 'escalation' presente nel piano\n//   - intento == 'aggiornamento_crm' su clienti chiave\n//   - notifica_marketing su clienti enterprise (rischio reputazionale)\n// La definizione di 'cliente chiave' è qui hardcoded a una whitelist;\n// in produzione sarebbe una lookup contro il CRM.\n\nconst dati = $input.first().json;\nconst interp = dati.interpretazione;\n\nconst PUNTI_URGENZA = { bassa: 10, media: 30, alta: 60, critica: 90 };\nconst SENTIMENT_DELTA = { frustrato: 10, preoccupato: 10, soddisfatto: -5, neutro: 0 };\nconst SERVIZIO_DELTA = {\n  campagna_pubblicitaria: 5,\n  supporto_tecnico: 10,\n  integrazione_sistemi: 5,\n  formazione: 0,\n  altro: 0\n};\n\nconst CLIENTI_CHIAVE = ['ACME', 'EnerNova', 'BancaItalsud', 'Pharmacare'];\n\nconst punteggio = (PUNTI_URGENZA[interp.urgenza] || 30)\n  + (SENTIMENT_DELTA[interp.sentiment] || 0)\n  + (SERVIZIO_DELTA[interp.servizio] || 0);\n\nconst nome_cliente = interp.cliente?.nome || '';\nconst e_cliente_chiave = CLIENTI_CHIAVE.some(c => nome_cliente.toUpperCase().includes(c.toUpperCase()));\n\nconst azioni_sensibili = ['notifica_marketing'];\nconst tocca_sensibile = interp.azioni_richieste.some(a => azioni_sensibili.includes(a));\n\nconst parse_ok = dati.interpretazione_meta?.parse_ok !== false;\n\nconst richiede_approvazione = (\n  !parse_ok\n  || interp.urgenza === 'critica'\n  || interp.intento === 'escalation'\n  || interp.azioni_richieste.includes('escalation')\n  || (e_cliente_chiave && interp.intento === 'aggiornamento_crm')\n  || (e_cliente_chiave && tocca_sensibile)\n);\n\n// Costruzione del piano: una entry per azione, con parametri tipizzati.\nconst piano = [];\n\nfor (const azione of interp.azioni_richieste) {\n  switch (azione) {\n    case 'analisi':\n      piano.push({\n        tipo: 'analisi',\n        target: 'team_data',\n        params: { servizio: interp.servizio, contesto: interp.contesto },\n        priorità: punteggio\n      });\n      break;\n    case 'ticket':\n      piano.push({\n        tipo: 'ticket',\n        target: 'sistema_ticketing',\n        params: {\n          titolo: `${interp.intento.replace(/_/g, ' ')} - ${nome_cliente || 'cliente non specificato'}`,\n          descrizione: dati.testo_originale,\n          cliente: interp.cliente,\n          servizio: interp.servizio,\n          urgenza: interp.urgenza,\n          motivazione: interp.motivazione_urgenza\n        },\n        priorità: punteggio\n      });\n      break;\n    case 'aggiornamento_crm':\n      piano.push({\n        tipo: 'crm',\n        target: 'crm_clienti',\n        params: {\n          cliente: interp.cliente,\n          evento: interp.intento,\n          note: interp.contesto,\n          canale_origine: dati.canale\n        },\n        priorità: punteggio\n      });\n      break;\n    case 'notifica_marketing':\n      piano.push({\n        tipo: 'notifica',\n        target: 'team_marketing',\n        params: {\n          cliente: interp.cliente,\n          oggetto: `[${interp.urgenza.toUpperCase()}] Anomalia segnalata - ${nome_cliente}`,\n          messaggio: interp.contesto\n        },\n        priorità: punteggio\n      });\n      break;\n    case 'notifica_tecnico':\n      piano.push({\n        tipo: 'notifica',\n        target: 'team_tecnico',\n        params: {\n          cliente: interp.cliente,\n          oggetto: `[${interp.urgenza.toUpperCase()}] Intervento tecnico richiesto`,\n          messaggio: interp.contesto\n        },\n        priorità: punteggio\n      });\n      break;\n    case 'report':\n      piano.push({\n        tipo: 'report',\n        target: 'reportistica',\n        params: { cliente: interp.cliente, servizio: interp.servizio },\n        priorità: punteggio\n      });\n      break;\n    case 'escalation':\n      // Escalation: notifica P1 al manager on-call. La priorita riceve un\n      // boost di +50 cosi' l'ordinamento finale la mette in cima al piano.\n      // Il tipo 'notifica' riusa l'executor Notifica Team senza nuovi branch.\n      piano.push({\n        tipo: 'notifica',\n        target: 'manager_oncall',\n        params: {\n          cliente: interp.cliente,\n          oggetto: `[ESCALATION ${interp.urgenza.toUpperCase()}] ${interp.intento.replace(/_/g, ' ').toUpperCase()} - ${nome_cliente || 'cliente non specificato'}`,\n          messaggio: `Escalation richiesta. ${interp.motivazione_urgenza}. Contesto: ${interp.contesto}`\n        },\n        priorità: punteggio + 50\n      });\n      break;\n    default:\n      // Azioni non riconosciute confluiscono in un ticket generico\n      piano.push({\n        tipo: 'ticket',\n        target: 'sistema_ticketing',\n        params: {\n          titolo: 'Richiesta non classificata',\n          descrizione: dati.testo_originale,\n          urgenza: 'media'\n        },\n        priorità: 30\n      });\n  }\n}\n\n// Ordinamento per priorità decrescente: utile per la presentazione e per\n// l'esecuzione sequenziale fallback se una branch parallela non è disponibile.\npiano.sort((a, b) => b.priorità - a.priorità);\n\nreturn [{\n  json: {\n    ...dati,\n    decisione: {\n      piano,\n      richiede_approvazione,\n      punteggio_priorità: punteggio,\n      cliente_chiave: e_cliente_chiave,\n      generato_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "b47d25a7-4c7e-40c8-9cbe-d8e596305b20",
      "name": "Agente Decisionale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16944,
        4624
      ],
      "notes": "Strategia deterministica: ogni interpretazione viene mappata in un piano composto da azioni discrete (ticket, crm, notifica, report, analisi). Il punteggio di priorità combina urgenza, sentiment e tipo di servizio.\nLa whitelist dei clienti chiave è qui hardcoded a fini didattici; il pattern enterprise sarebbe una lookup contro il CRM al volo o una tabella mantenuta fuori dal workflow."
    },
    {
      "parameters": {
        "content": "### Stage 3 - Gate approvazione\nSend-and-Wait via Gmail. Email all'owner con sintesi del piano + due bottoni (Approvo / Rifiuto). Workflow in pausa fino al click; `limitWaitTime=24h`.\n\n**Tre esiti distinti** (no false positives): `approvata` (click esplicito), `rifiutata` (click negativo), `timeout` (24h senza click). Collassare timeout in 'rifiutata' nasconderebbe escalation perse, il gate scatta proprio sui casi sensibili, dove un mancato click e' informazione critica per l'audit.\n\nApprovatore hardcoded `operations@digitserve.it` (stesso valore in mail e in audit per coerenza compliance). n8n blocca di default `$env.*` nelle espressioni; per override in deploy reali: editare le due stringhe oppure sbloccare l'accesso a env (`N8N_BLOCK_ENV_ACCESS_IN_NODE=false`) e tornare al pattern `$env.DIGITSERVE_APPROVER_EMAIL`.",
        "height": 312,
        "width": 636,
        "color": 6
      },
      "id": "068af204-f21f-483e-a33b-a9d76af590ec",
      "name": "Sticky - Stage 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        17328,
        4096
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-approval",
              "leftValue": "={{ $json.decisione.richiede_approvazione }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e090d47-5732-4de4-8532-a40b9f151036",
      "name": "IF - Richiede Approvazione?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        17184,
        4624
      ],
      "notes": "Branching booleano sul flag emesso dall'agente decisionale.\nTrue → percorso di approvazione umana via email Send-and-Wait.\nFalse → esecuzione automatica."
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "operations@digitserve.it",
        "subject": "=[Approvazione richiesta] {{ $json.interpretazione.intento }} - cliente {{ $json.interpretazione.cliente?.nome || 'n/d' }}",
        "message": "=Una richiesta interna proveniente dal canale '{{ $json.canale }}' richiede approvazione prima dell'esecuzione automatica.\n\nMittente: {{ $json.mittente.nome }} ({{ $json.mittente.email }})\nUrgenza: {{ $json.interpretazione.urgenza.toUpperCase() }}\nMotivazione: {{ $json.interpretazione.motivazione_urgenza }}\nPunteggio priorità: {{ $json.decisione.punteggio_priorità }}/100\nCliente chiave: {{ $json.decisione.cliente_chiave ? 'si' : 'no' }}\nProvider LLM usato: {{ $json.interpretazione_meta.provider_usato }} ({{ $json.interpretazione_meta.modello }})\n\nTesto della richiesta:\n>>> {{ $json.testo_originale }} <<<\n\nPiano operativo proposto ({{ $json.decisione.piano.length }} azioni):\n{{ $json.decisione.piano.map((a, i) => (i+1) + '. ' + a.tipo.toUpperCase() + ' → ' + a.target + ' (priorità ' + a.priorità + ')').join('\\n') }}\n\nID correlazione: {{ $json.correlation_id }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Approvo, esegui",
            "disapproveLabel": "Rifiuto, fermati"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 24
            }
          },
          "appendAttribution": false
        }
      },
      "id": "e6d79b62-7107-41bf-a1ec-23c0f26f29ce",
      "name": "Email Approvazione (Send & Wait)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        17408,
        4464
      ],
      "disabled": true,
      "notes": "Pattern Send-and-Wait di n8n: invia un'email all'owner di processo con due bottoni (Approvo / Rifiuto) e mette l'esecuzione in pausa fino al click. La risposta torna sul workflow tramite un webhook autogenerato da n8n.\n\nLa scelta di Gmail (vs Slack o form) è dettata dal fatto che operations e responsabili decisionali leggono prima la mail; in produzione si può aggiungere un canale Slack come fallback.\n\nCredenziale: 'Gmail Operations DigitServe' va configurata localmente."
    },
    {
      "parameters": {
        "jsCode": "// Cattura l'esito dell'approvazione e arricchisce il payload.\n// L'output del nodo Send-and-Wait varia leggermente per versione di n8n: in\n// genere espone $json.approved (boolean) o $json.data.approved. Il nodo\n// gestisce entrambi i pattern.\n//\n// Tre esiti distinti, non due:\n//   - approved === true   -> 'approvata'\n//   - approved === false  -> 'rifiutata'  (click esplicito su 'Rifiuto')\n//   - approved == null    -> 'timeout'    (limitWaitTime esaurito, n8n\n//                                          auto-resume senza click)\n// Collassare timeout in 'rifiutata' nasconderebbe casi di escalation persa,\n// problema reale perche' il gate triggera proprio su urgenza critica e\n// key-account.\n\nconst dati_orig = $('Agente Decisionale').first().json;\nconst risposta = $input.first().json;\nconst raw = risposta.approved ?? risposta.data?.approved;\n\nlet esito;\nif (raw === true) esito = 'approvata';\nelse if (raw === false) esito = 'rifiutata';\nelse esito = 'timeout';\n\n// Approvatore hardcoded per portabilita' del JSON. n8n blocca di default\n// l'accesso a $env.* nelle espressioni (N8N_BLOCK_ENV_ACCESS_IN_NODE=true).\n// Per override in deploy reali: editare questa stringa e il campo `sendTo`\n// di `Email Approvazione (Send & Wait)`, oppure sbloccare l'accesso a env\n// e tornare al pattern `$env.DIGITSERVE_APPROVER_EMAIL || 'operations@...'`.\nconst approvatore = 'operations@digitserve.it';\n\nreturn [{\n  json: {\n    ...dati_orig,\n    approvazione: {\n      richiesta: true,\n      esito,\n      timestamp: new Date().toISOString(),\n      approvatore\n    }\n  }\n}];"
      },
      "id": "1e116bf3-b6e0-40e2-b236-9558d04af6cd",
      "name": "Esito Approvazione",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17616,
        4464
      ],
      "notes": "Ricostruisce il payload completo (perché il nodo Send-and-Wait non sempre porta avanti tutti i campi originali) e annota l'esito dell'approvazione. Il nodo successivo decide se procedere con l'esecuzione o saltare al log finale."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "auto-1",
              "name": "approvazione",
              "value": "={{ { richiesta: false, esito: 'auto', timestamp: $now.toISO(), approvatore: 'workflow_auto' } }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "01047d02-88a8-480d-a3cd-207ee0858f2e",
      "name": "Auto-approvazione",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17408,
        4784
      ],
      "notes": "Sul percorso 'no approvazione' marchiamo comunque l'evento come 'auto' nei metadati, in modo che l'audit log distingua gli automatismi dalle approvazioni manuali."
    },
    {
      "parameters": {},
      "id": "bdc03e41-d127-4429-9d91-6ee11c0ab12d",
      "name": "Merge - Branch approvazione",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        17840,
        4624
      ],
      "notes": "Riunisce i due percorsi (approvato umano / auto). Da qui in poi il flusso è identico nei due casi, salvo il valore dei meta in `approvazione`."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-rifiutata",
              "leftValue": "={{ ['rifiutata', 'timeout'].includes($json.approvazione.esito) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d1b1a25-a56b-41d5-a9fc-a80b0fd29e61",
      "name": "IF - Rifiutata?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        18064,
        4624
      ],
      "notes": "Blocca l'esecuzione su rifiuto esplicito OR timeout di approvazione. Entrambi i casi vanno all'audit + risposta con esito_complessivo distinto (`rifiutata` vs `timeout_approvazione`) e con `azioni_bloccate` valorizzato. Mantenere la richiesta tracciata anche quando non eseguita e' parte del requisito di compliance."
    },
    {
      "parameters": {
        "jsCode": "// Esegui Piano - dispatcher mock per le azioni del piano.\n//\n// Singolo nodo invece di SplitOut + Switch + 5 executor + Uniforma + Aggregate.\n// Motivazione: n8n con `executionOrder: v1` processa gli item depth-first dopo\n// uno SplitOut. Un fan-out a 5 branch seguito da aggregazione produce N run\n// indipendenti del downstream (uno per item) e nessun nodo a valle riesce a\n// vedere l'intero array di esiti in una sola esecuzione. Il dispatcher\n// concentrato qui rimuove la patologia, produce un singolo `esiti[]`\n// consumabile da Costruisci Riepilogo, e mantiene lo schema esito_azione\n// invariato.\n//\n// PASSAGGIO A PRODUZIONE: ognuno dei 5 handler diventa una chiamata HTTP\n// Request verso il sistema reale (ServiceNow, Salesforce, Slack/Teams,\n// sistema reportistica, queue interna del team data). Per preservare la\n// visualita' del canvas in produzione e' lecito uno Switch + 5 HTTP Request\n// paralleli SE il workflow finisce in un Code aggregator come questo (il\n// problema cross-iteration sparisce perche' non c'e' piu' SplitOut prima).\n\nconst dati = $input.first().json;\nconst piano = dati.decisione?.piano || [];\n\nconst makeId = (prefix) => prefix + '-' +\n  Date.now().toString(36).toUpperCase().slice(-6) + '-' +\n  Math.random().toString(36).slice(2, 6).toUpperCase();\n\nconst now = () => new Date().toISOString();\n\n// Handler per tipo. Schema esito_azione uniforme:\n// tipo / target / stato / riferimento / errore / timestamp / dettaglio_mock.\nconst handlers = {\n  ticket: (azione) => ({\n    tipo: 'ticket',\n    target: azione.target,\n    stato: 'eseguita',\n    riferimento: makeId('TKT'),\n    errore: null,\n    timestamp: now(),\n    dettaglio_mock: {\n      titolo: azione.params.titolo,\n      cliente: azione.params.cliente,\n      urgenza: azione.params.urgenza,\n      priorita: azione['priorità']\n    }\n  }),\n  crm: (azione) => ({\n    tipo: 'crm',\n    target: azione.target,\n    stato: 'eseguita',\n    riferimento: makeId('EVT'),\n    errore: null,\n    timestamp: now(),\n    dettaglio_mock: {\n      id_cliente: azione.params.cliente?.id_cliente || 'unknown',\n      evento: azione.params.evento,\n      canale_origine: azione.params.canale_origine\n    }\n  }),\n  notifica: (azione) => ({\n    tipo: 'notifica',\n    target: azione.target,\n    stato: 'eseguita',\n    riferimento: makeId('NTF'),\n    errore: null,\n    timestamp: now(),\n    dettaglio_mock: {\n      destinatario: azione.target,\n      oggetto: azione.params.oggetto\n    }\n  }),\n  report: (azione) => ({\n    tipo: 'report',\n    target: azione.target,\n    stato: 'eseguita',\n    riferimento: makeId('RPT'),\n    errore: null,\n    timestamp: now(),\n    dettaglio_mock: {\n      cliente: azione.params.cliente,\n      servizio: azione.params.servizio,\n      eta_completamento_h: 24\n    }\n  }),\n  analisi: (azione) => ({\n    tipo: 'analisi',\n    target: azione.target,\n    stato: 'accodata',\n    riferimento: makeId('ANL'),\n    errore: null,\n    timestamp: now(),\n    dettaglio_mock: {\n      coda: 'team_data',\n      servizio: azione.params?.servizio,\n      contesto: azione.params?.contesto\n    }\n  })\n};\n\n// Tipo sconosciuto: esito 'fallita' con errore esplicito, NON ticket\n// silenzioso cliente-facing. Previene regressioni se un nuovo tipo entra a\n// monte senza estendere il dispatcher.\nconst fallback = (azione) => ({\n  tipo: azione.tipo || 'sconosciuto',\n  target: azione.target || null,\n  stato: 'fallita',\n  riferimento: null,\n  errore: `tipo_azione_non_supportato: ${azione.tipo}`,\n  timestamp: now(),\n  dettaglio_mock: null\n});\n\nconst esiti = piano.map(azione => {\n  const h = handlers[azione.tipo];\n  return h ? h(azione) : fallback(azione);\n});\n\nreturn [{\n  json: {\n    ...dati,\n    esiti\n  }\n}];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Esegui Piano",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18368,
        4624
      ],
      "notes": "Dispatcher mock single-node per le azioni del piano. Sostituisce il pattern SplitOut+Switch+5 executor+Uniforma+Aggregate che soffre della patologia di aggregazione cross-iteration di n8n executionOrder v1. Vedi commenti inline e Sticky Stage 4 per il rationale e la migrazione a produzione."
    },
    {
      "parameters": {
        "content": "### Stage 4 - Esecuzione\nSingolo Code node `Esegui Piano` itera `decisione.piano` e dispatcha ai 5 handler interni (`ticket`/`crm`/`notifica`/`report`/`analisi`). Produce un array `esiti` aggregato consumato da `Costruisci Riepilogo`.\n\n**Perche' single-node, non SplitOut + Switch + 5 branch + Aggregate.** n8n con `executionOrder: v1` processa gli item depth-first dopo SplitOut: ogni item attraversa tutto il downstream prima del successivo, e nessun nodo a valle vede l'intero array in una singola esecuzione. Fan-out + aggregate produce N run di Costruisci/Persisti/Respond, frammenta l'audit e rompe la risposta sincrona. Dispatcher concentrato rimuove la patologia in modo deterministico. Tipo non riconosciuto -> `stato: 'fallita'` con errore esplicito.\n\n**Vincolo brief \"consegna: file JSON\"** -> handler mock con riferimenti random realistici (TKT-/EVT-/NTF-/RPT-/ANL-). Migrazione produzione = sostituire ogni handler con HTTP Request al sistema reale (ServiceNow, Salesforce, Slack/Teams, sistema reportistica, queue interna del team data); schema `esito_azione` invariato. In produzione, SE i 5 handler diventano nodi HTTP separati, un Switch + 5 paralleli torna possibile (no SplitOut a monte = no patologia di aggregazione).",
        "height": 360,
        "width": 720,
        "color": 6
      },
      "id": "9a7d7ee1-b409-4885-b779-ebfc82444968",
      "name": "Sticky - Stage 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        18128,
        4064
      ]
    },
    {
      "parameters": {
        "content": "### Stage 5 - Riepilogo, audit, risposta\n1. **Costruisci Riepilogo** assembla `audit_record` (verboso, archivio) e `risposta_sincrona` (compatta, chiamante). Sette esiti distinti: `completata`, `completata_con_code`, `accodata`, `parziale`, `rifiutata`, `timeout_approvazione`, `nessuna_azione`. Sul ramo bloccato include `azioni_bloccate` (piano pianificato non eseguito) per non perdere la causa nell'audit.\n2. **Persisti Audit Log** simula write su archivio append-only (mock per vincolo \"file JSON\"). Produzione: Postgres dedicato, S3, Elasticsearch index immutabile.\n3. **Respond to Webhook** restituisce solo `risposta_sincrona` (no audit completo) per non esporre metadati interni al chiamante. Header `X-Correlation-Id` per riconciliazione client-side.\n\nEsito conservativo: anche una sola azione fallita -> `parziale`, mai falso `completata`.",
        "height": 328,
        "width": 524,
        "color": 6
      },
      "id": "0f0f0295-202a-485b-aa02-1cc31160fb28",
      "name": "Sticky - Stage 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        18896,
        4192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Costruzione del riepilogo strutturato e dell'audit record.\n// Output:\n//   - audit_record: snapshot completo destinato all'archivio immutabile.\n//   - risposta_sincrona: oggetto restituito al chiamante (subset utile).\n//\n// Due path di ingresso convergono qui:\n//   1. Path 'eseguito': arriva da Esegui Piano con array `esiti` gia'\n//      aggregato (un elemento per ogni azione del piano).\n//   2. Path 'bloccato': arriva direttamente dal IF di rifiuto/timeout senza\n//      passare dal dispatcher; non c'e' campo `esiti`.\n\nconst first = $input.first().json;\nconst eseguito = Array.isArray(first.esiti);\nconst esiti = eseguito ? first.esiti : [];\nconst dati_base = first;\n\nconst totali = {\n  totali: esiti.length,\n  eseguite: esiti.filter(e => e.stato === 'eseguita').length,\n  fallite: esiti.filter(e => e.stato === 'fallita').length,\n  accodate: esiti.filter(e => e.stato === 'accodata').length,\n  sconosciute: esiti.filter(e => e.stato === 'sconosciuto').length\n};\n\n// Esito complessivo. Il ramo bloccato distingue tre causali differenti per\n// non collassarle nell'audit (compliance: la causa del mancato esecuzione\n// deve essere ricostruibile).\nconst esito_approvazione = dati_base.approvazione?.esito;\nlet esito_complessivo;\nif (!eseguito) {\n  if (esito_approvazione === 'rifiutata') {\n    esito_complessivo = 'rifiutata';\n  } else if (esito_approvazione === 'timeout') {\n    esito_complessivo = 'timeout_approvazione';\n  } else {\n    esito_complessivo = 'nessuna_azione';\n  }\n} else {\n  esito_complessivo = (\n    totali.fallite > 0 ? 'parziale' :\n    totali.totali === 0 ? 'nessuna_azione' :\n    totali.accodate > 0 && totali.eseguite === 0 ? 'accodata' :\n    totali.accodate > 0 ? 'completata_con_code' :\n    'completata'\n  );\n}\n\n// Azioni bloccate: sul ramo no-execution riportiamo il piano che NON e' stato\n// eseguito, cosi' l'approvatore (o l'auditor) sa cosa era stato pianificato.\nconst azioni_bloccate = (!eseguito && Array.isArray(dati_base.decisione?.piano))\n  ? dati_base.decisione.piano.map(p => ({ tipo: p.tipo, target: p.target, priorita: p['priorità'] }))\n  : [];\n\nconst audit_record = {\n  correlation_id: dati_base.correlation_id,\n  ricevuta_at: dati_base.ricevuta_at,\n  chiusa_at: new Date().toISOString(),\n  canale: dati_base.canale,\n  mittente: dati_base.mittente,\n  testo_originale: dati_base.testo_originale,\n  interpretazione: dati_base.interpretazione,\n  interpretazione_meta: dati_base.interpretazione_meta,\n  decisione: dati_base.decisione,\n  approvazione: dati_base.approvazione,\n  esiti,\n  azioni_bloccate,\n  totali,\n  esito_complessivo\n};\n\nconst messaggi = {\n  completata: 'Tutte le azioni richieste sono state completate con successo.',\n  completata_con_code: 'Azioni sincrone completate; alcune azioni sono state messe in coda per esecuzione asincrona.',\n  accodata: 'Nessuna esecuzione sincrona; tutte le azioni sono state messe in coda.',\n  parziale: 'Alcune azioni sono fallite. Verificare il dettaglio nei log.',\n  rifiutata: `Richiesta rifiutata dall'approvatore. ${azioni_bloccate.length} azione/i pianificata/e non sono state eseguite.`,\n  timeout_approvazione: `Approvazione non pervenuta entro il timeout. ${azioni_bloccate.length} azione/i in attesa.`,\n  nessuna_azione: 'Nessuna azione e\\' stata eseguita.'\n};\n\nconst risposta_sincrona = {\n  correlation_id: audit_record.correlation_id,\n  esito: esito_complessivo,\n  totali,\n  azioni: esiti.map(e => ({\n    tipo: e.tipo,\n    stato: e.stato,\n    riferimento: e.riferimento,\n    errore: e.errore\n  })),\n  azioni_bloccate,\n  approvazione: dati_base.approvazione,\n  provider_llm: dati_base.interpretazione_meta?.provider_usato,\n  messaggio: messaggi[esito_complessivo] || messaggi.nessuna_azione\n};\n\nreturn [{ json: { audit_record, risposta_sincrona } }];"
      },
      "id": "ebff818c-9b18-4578-b2e3-ce19f1a86b34",
      "name": "Costruisci Riepilogo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18656,
        4464
      ],
      "notes": "Aggregazione finale. Distinguiamo l'audit_record (verboso, completo, destinato all'archivio) dalla risposta_sincrona (compatta, leggibile, restituita al chiamante).\nL'esito_complessivo segue una logica conservativa: anche un solo fallimento porta a 'parziale', così che l'operatore non riceva un falso 'tutto ok'."
    },
    {
      "parameters": {
        "jsCode": "// Persisti Audit Log  (simulazione interna)\n//\n// Simula la scrittura del record di audit su un archivio append-only.\n//\n// PASSAGGIO A PRODUZIONE: sostituire con HTTP Request verso l'endpoint reale\n// (Postgres tabella append-only, Elasticsearch index immutabile, S3 bucket con\n// object lock, o data warehouse dedicato). La retention raccomandata e 24 mesi\n// in linea con i requisiti tipici di compliance.\n\nconst dati = $input.first().json;\nconst audit_id = 'AUD-' +\n  Date.now().toString(36).toUpperCase().slice(-6) + '-' +\n  Math.random().toString(36).slice(2, 6).toUpperCase();\n\nreturn [{\n  json: {\n    ...dati,\n    audit_persistence: {\n      audit_id,\n      stato: 'persistito_mock',\n      archiviato_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "e094b147-4d79-455f-b9d7-5fcf7ae2fa2f",
      "name": "Persisti Audit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18896,
        4624
      ],
      "notes": "Simulazione interna della persistenza audit. In produzione: scrittura su archivio append-only (Postgres/Elasticsearch/S3 object lock)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Costruisci Riepilogo').first().json.risposta_sincrona }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Correlation-Id",
                "value": "={{ $('Costruisci Riepilogo').first().json.audit_record.correlation_id }}"
              }
            ]
          }
        }
      },
      "id": "aa3142ab-a389-41e9-a861-af0eb6a5f88a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        19136,
        4624
      ],
      "notes": "Chiusura del ciclo sincrono. Restituiamo il subset 'risposta_sincrona' (non l'audit completo) per non esporre informazioni interne (es. punteggio_priorità, valutazioni del decisionale) al chiamante esterno."
    },
    {
      "parameters": {
        "content": "### Note finali\n\n**Limiti noti (demo)**\n- LLM single-call: casi ambigui producono fallback conservativo + HITL. Mitigazione futura: LLM-as-judge su `parse_ok=false` o su confidenza bassa.\n- Whitelist clienti chiave hardcoded; in produzione lookup CRM.\n- Executor e audit mock: vincolo \"Modalita' di consegna: file JSON\" non permette credenziali reali in un .json portabile.\n\n**Gap noti di produzione (fuori scope demo)**\n- **Idempotenza assente**: retry client su stesso `correlation_id` crea ticket/CRM duplicati. Mitigazione: dedup store (Redis `SET NX EX`) come primo step + `Idempotency-Key` header verso gli endpoint reali.\n- **`audit_id` non torna al client**: `Persisti Audit Log` produce ID interno ma non finisce in `risposta_sincrona` ne' in header. Wire-up al passaggio prod (header `X-Audit-Id`).\n- **Categorizzazione errori LLM**: `parse_ok=false` collassa 5xx, timeout, rate-limit, JSON malformato in un'unica causale. Per KPI di affidabilita' provider distinguere `parse_error` in classi.\n- **Cost bound**: nessun `max_tokens` su OpenAI ne' `num_predict` su Ollama; aggiungere cap espliciti + clamp `testo` in input.\n- **Observability strutturata**: `correlation_id` propagato nel payload ma non emesso come trace ID a sistema esterno (OTLP/Datadog). Da aggiungere come fire-and-forget post `Costruisci Riepilogo`.\n- **HA approvazioni**: `limitWaitTime=24h` persiste l'esecuzione su disk; restart single-node = perdita approvazioni pending. Backend Postgres + `EXECUTIONS_DATA_SAVE_ON_PROGRESS=true` raccomandati.\n\n**Critica al disegno**\n- Stadi separati vs agente LLM monolitico. Tre passaggi distinti (interpretazione → decisione → esecuzione) invece di un singolo agente LLM. Costa qualche nodo in più ma ogni step è ispezionabile sul canvas e ogni esito verificabile in audit. Coerente col requisito di tracciabilità.\n- Decisionale a regole vs LLM. Regole = piano riproducibile + zero costo. Casi fuori dal coperto regole gestiti dal gate HITL, scelta piu' solida di un secondo LLM in serie sul piano d'azione.\n- Esecuzione concentrata vs fan-out visivo. La pipeline canonica n8n SplitOut → Switch → executor paralleli → aggregate e' rotta su `executionOrder: v1` (vedi Stage 4). Dispatcher concentrato è ela patch deterministica; in produzione con executor HTTP la topologia \"visiva\" torna fattibile.\n\n- Workflow deterministico, non agente ReAct/Plan-Execute/Reflexion. LLM confinato a un solo step (interpretazione semantica). Scelta funzionale ai requisiti di auditability e modalita' ibrida.\n- Stateless by design: ogni POST e' isolato, nessun session/vector store. Whitelist clienti chiave e' l'unica forma di memoria semantica (costante). Per evoluzioni multi-turn servirebbe Redis (STM) + vector store dedicato (LTM episodica/semantica).\n- Niente framework agentic (LangChain/LangGraph/CrewAI): HTTP Request diretto a Ollama/OpenAI per controllo puntuale di prompt e parsing, evitare dipendenze Python, mantenere portabilita' del JSON. n8n stesso assume il ruolo di orchestration framework.\n\n\n---\n\n\n### Stima KPI\nX% e Y% del brief sono \"da definire in fase di baseline\". Stima ragionata su benchmark settore B2B servizi digitali, da validare su dati DigitServe reali.\n\n**X = riduzione tempo medio di presa in carico richiesta**\n  - Baseline manuale: 25 min/richiesta (media pesata: ~15 min semplici, ~45 min multi-azione)\n  - Tempo workflow: ~7 min/richiesta (15-25s pipeline LLM+decisional+executor; il resto e' buffer per revisione umana sui casi gate)\n  - Riduzione: (25 - 7) / 25 ≈ 72%\n  - Stima conservativa: -50% al rollout, -70% a regime dopo 2-3 mesi di tuning del decisionale e della whitelist gate\n\n  **Y = % azioni automatizzate (eseguite senza intervento manuale)**\n  - Y = copertura_categorie * frazione_no_HITL ≈ 0.88 * 0.90 ≈ 80%\n  - copertura_categorie ≈ 0.88: le 6 azioni mappate (ticket, crm, notifica_marketing, notifica_tecnico, report, analisi, escalation) coprono ~88% delle richieste interne tipiche B2B servizi digitali\n  - frazione_no_HITL ≈ 0.90: il gate HITL scatta solo su clienti chiave + critica + azioni sensibili, stimato ~10% del traffico",
        "height": 916,
        "width": 1424,
        "color": 5
      },
      "id": "4b82e963-cc05-41d3-83ba-89c45d74949d",
      "name": "Sticky - Note finali",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        18432,
        5008
      ]
    },
    {
      "parameters": {
        "content": "### Casi di test\n\nPer ognuno: *Listen for test event* sul webhook, poi curl. URL `http://localhost:5678/webhook-test/digitserve-richiesta`. Header `Content-Type: application/json`. Demo senza Gmail: disattivare `Email Approvazione (Send & Wait)` (right-click → Deactivate).\n\n**1. ACME, cliente chiave + multi-azione (gate triggerato)**\n```\n{\"canale\":\"form\",\"mittente\":{\"nome\":\"Marco Rossi\",\"ruolo\":\"account_manager\",\"email\":\"m.rossi@digitserve.it\"},\"testo\":\"Cliente: ACME. Servizio: campagna pubblicitaria. Anomalia: CTR molto basso da ieri. Azioni richieste: 1) analisi preliminare, 2) apertura ticket tecnico, 3) notifica al team marketing, 4) aggiornamento storico CRM.\",\"provider\":\"ollama\"}\n```\nAtteso: 4 azioni, `cliente_chiave=true`, `richiede_approvazione=true`. Demo senza Gmail: si ferma sul gate; con `limitWaitTime` esaurito → `esito=timeout_approvazione`.\n\n**2. Routine senza approvazione**\n```\n{\"canale\":\"email\",\"mittente\":{\"nome\":\"Laura Bianchi\",\"ruolo\":\"customer_success\",\"email\":\"l.bianchi@digitserve.it\"},\"testo\":\"Aggiorna lo storico del cliente Beta s.r.l.: hanno chiesto formazione aggiuntiva per il modulo CRM.\",\"provider\":\"ollama\"}\n```\nAtteso: 1 azione `crm`, esecuzione automatica, `esito=completata`.\n\n**3. Critico bancario, escalation esplicita**\n```\n{\"canale\":\"chat\",\"mittente\":{\"nome\":\"Davide Conti\",\"ruolo\":\"tech_lead\",\"email\":\"d.conti@digitserve.it\"},\"testo\":\"Down totale dell'integrazione SAP per il cliente BancaItalsud da 30 minuti. Apri ticket P1, notifica subito il team tecnico e fai escalation immediata.\"}\n```\nAtteso: urgenza `critica`, `richiede_approvazione=true`, piano `[escalation (priorita+50 al manager_oncall), ticket, notifica_tecnico]`.\n\n**4. Fallback parser (input ambiguo)**\n```\n{\"canale\":\"email\",\"mittente\":{\"nome\":\"Anonimo\",\"ruolo\":\"sconosciuto\",\"email\":\"qa@digitserve.it\"},\"testo\":\"qualcosa non va, controllate per favore\"}\n```\nAtteso: interpretazione povera. Se LLM non produce JSON valido → `parse_ok=false`, decisionale forza `richiede_approvazione=true`, gate scatta sul ticket di revisione manuale.\n\n**5. Multi-azione (verifica aggregazione audit)**\n```\n{\"canale\":\"form\",\"mittente\":{\"nome\":\"Giulia Marino\",\"ruolo\":\"delivery_manager\",\"email\":\"g.marino@digitserve.it\"},\"testo\":\"Per il cliente DeltaTech aggiorna lo storico segnalando il rinnovo del contratto annuale, notifica il team tecnico per la pianificazione e programma un report mensile.\",\"provider\":\"ollama\"}\n```\nAtteso: 3 azioni (`crm`, `notifica_tecnico`, `report`), `esito=completata`, audit unico con `esiti` aggregato.",
        "height": 706,
        "width": 2640,
        "color": 4
      },
      "id": "3e447d24-5da3-4571-adcf-529f117c3a82",
      "name": "Sticky - Casi di test",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15424,
        5056
      ]
    },
    {
      "parameters": {
        "content": "### Setup ed esecuzione\n\n**Prerequisiti**\n- n8n >= 1.40 (`npx n8n` o Docker)\n- Ollama con `llama3.2` (`ollama pull llama3.2`) o modello preferito.\n- Opt: chiave OpenAI come credenziale Header Auth (header `Authorization`, value `Bearer sk-...`). La chiave NON va nel JSON: letta dalla credential n8n al runtime.\n- Opt: credenziale Gmail OAuth2 per il gate HITL (`Email Approvazione (Send & Wait)`). Senza credenziali, disattivare il nodo per la demo (passa in auto-approva); destinatario hardcoded `operations@digitserve.it` nel JSON per portabilita'.\n\n**Procedura**\n1. *Workflows → Add workflow → Import from File*: selezionare il `.json`.\n2. **Demo senza Gmail**: disattivare `Email Approvazione (Send & Wait)` (right-click → Deactivate).\n3. Sul `Webhook` → *Listen for test event*. Curl di test dalla sticky `Casi di test`.\n\n**Risposta tipo**\n```\n{\n  \"correlation_id\": \"...\",\n  \"esito\": \"completata\",\n  \"totali\": {\"totali\": 2, \"eseguite\": 2, \"fallite\": 0, \"accodate\": 0, \"sconosciute\": 0},\n  \"azioni\": [{\"tipo\":\"ticket\",\"stato\":\"eseguita\",\"riferimento\":\"TKT-...\"}, ...],\n  \"azioni_bloccate\": [],\n  \"approvazione\": {\"richiesta\": false, \"esito\": \"auto\", \"approvatore\": \"workflow_auto\"},\n  \"provider_llm\": \"ollama\",\n  \"messaggio\": \"Tutte le azioni richieste sono state completate con successo.\"\n}\n```\n\n**Migrazione a produzione**\n- Handler in `Esegui Piano`: ogni `case` → HTTP Request al sistema reale (ServiceNow, Salesforce, Slack/Teams, sistema reportistica, queue interna). Schema `esito_azione` invariato.\n- `Persisti Audit Log`: HTTP Request a Postgres / S3 / Elasticsearch.\n- Vedi sticky `Note finali` per gap aperti (idempotenza, retry, observability, HA).",
        "height": 678,
        "width": 1072,
        "color": 4
      },
      "id": "af1967ea-7588-4b0d-ae67-d18cad70a70a",
      "name": "Sticky - Setup e esecuzione",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14240,
        4704
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Richiesta interna": {
      "main": [
        [
          {
            "node": "Normalizza Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizza Input": {
      "main": [
        [
          {
            "node": "Configura Provider LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configura Provider LLM": {
      "main": [
        [
          {
            "node": "Switch - Provider LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Provider LLM": {
      "main": [
        [
          {
            "node": "LLM Interprete (Ollama)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Interprete (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Interprete (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Interprete (Ollama)": {
      "main": [
        [
          {
            "node": "Parse Interpretazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Interprete (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Interpretazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Interpretazione": {
      "main": [
        [
          {
            "node": "Agente Decisionale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Decisionale": {
      "main": [
        [
          {
            "node": "IF - Richiede Approvazione?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Richiede Approvazione?": {
      "main": [
        [
          {
            "node": "Email Approvazione (Send & Wait)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-approvazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Approvazione (Send & Wait)": {
      "main": [
        [
          {
            "node": "Esito Approvazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esito Approvazione": {
      "main": [
        [
          {
            "node": "Merge - Branch approvazione",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-approvazione": {
      "main": [
        [
          {
            "node": "Merge - Branch approvazione",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Branch approvazione": {
      "main": [
        [
          {
            "node": "IF - Rifiutata?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Rifiutata?": {
      "main": [
        [
          {
            "node": "Costruisci Riepilogo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esegui Piano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Costruisci Riepilogo": {
      "main": [
        [
          {
            "node": "Persisti Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persisti Audit Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esegui Piano": {
      "main": [
        [
          {
            "node": "Costruisci Riepilogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Rome",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "digitserve"
    },
    {
      "name": "modulo-03"
    },
    {
      "name": "agentic-ai"
    }
  ]
}
